<div id="accOverView" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="0" data-gs-y="10"
								data-showmore-bottom="1" data-name="networth" data-gs-width="1" data-gs-min-height="2" data-gs-no-resize="true" data-gs-auto-position="false"
								data-gs-position="23" template="AccountOverview">
								<div class="grid-stack-item-content current_stack_item card_flip networth">
										<div class="front">
												<header class="drag-handle ui-draggable-handle">
														<strong>Account</strong>Overview
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onclick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
										</div>
										<div class="widget-content">
												<div class="beni-balance-nochart">
													<i class="fa fa-usd rightmargin"></i>3,233
												</div>
												<div class="accOverview_graph">
												</div>
												<div class="bottom-center-abs">
														<input class="btn btn-transparent" type="button" value="Details" />
												</div>
										</div>
								</div>
						</div>