<div id="addNewWidget" data-gs-x="0" data-gs-y="1" data-gs-position="4" data-current_content="4" class="article grid-stack-item" data-showmore-bottom="0"	 data-showmore-right="0" data-gs-height="1" data-gs-width="1" data-gs-min-height="1" data-gs-min-width="1" data-name="addnewwidget" data-gs-no-resize="true" data-gs-auto-position="false" template="AddNewWidget">
	<div class="grid-stack-item-content without-background">
		<div class="widget widget-add">
			<a href="javascript:void(0)" class="new_widget drag-handle">
				<span class="verical-center">
					<i id="addNewWidgetBtn" class="fa fa-plus"></i>Add Widget
				</span>
			</a>
		</div>
	</div>
</div>