<div id="advertisment-additional" data-gs-x="100" data-gs-y="100" data-gs-position="103" data-current_content="103" class="article grid-stack-item" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="2" data-gs-width="1" data-gs-min-height="2" data-gs-min-width="1" data-name="smalladvertisement" data-gs-no-resize="true" data-gs-auto-position="false" template="AdvertismentAdditional">
	<div class="grid-stack-item-content drag-handle card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-advertisement-single">
			<div class="widget-body">
				<div class="image-block">
					<div class="advertisement-additional"></div>
				</div>
			</div>
		</div>
	</div>
</div>