<div id="advertisementJane" data-gs-x="100" data-gs-y="100" data-gs-position="3" data-current_content="3" class="article grid-stack-item" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="1" data-gs-width="2" data-gs-min-height="1" data-gs-min-width="2" data-name="smalladvertisement" data-gs-no-resize="true" data-gs-auto-position="false" template="AdvertismentJane">
	<div class="grid-stack-item-content drag-handle card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-advertisement-single jane-advert-main">
			<div class="widget-body">
				<div class="image-block">
					 <div class="col-md-6">
               <div class="jane-advert-label">Get cash back on your purchases</div>
               <div class="jane-advert-cashback"><img src="images/gold-card.png" width="75" /><span>Get 3% cach back on your purchases with AMEX Gold</span></div>
               <div class="widget-details-button">
						     	<a href="#" class="btn btn-default">Apply Now</a>
						   </div>
					 </div>
					 <div class="col-md-6 nopadright">
               <div class="jane-advert-cont">
                 <img src="images/janeadvert.jpg" />
               </div>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>