<div id="nic" class="article grid-stack-item beneficiary-cont" data-gs-x="50" data-gs-y="100" data-gs-position="12" data-current_content="12" data-showmore-bottom="0" data-showmore-right="0" data-name="ben_vincentvega"	data-gs-no-resize="true" data-gs-auto-position="false" data-gs-height="2" data-gs-min-height="2" template="Beneficiary">
								<div class="grid-stack-item-content card_flip">								
									<div class="widget-tools">
										<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span>
										</div>
									</div>
									<div class="widget widget-beneficiary">
										<div class="widget-label drag-handle">Beneficiary Details</div>
										<div class="widget-body">
										  <div class="widget-label drag-handle">
											<div class="widget-label-left-part"><img class="userpic" src="images/user-ben.jpg" alt="Vincent Vega"></div>
											<div class="widget-label-right-part">
												<div class="beneficiary-label">Vincent Vega</div>
												<div class="beneficiary-summ income pull-left">
													<span><i class="fa fa-caret-up"></i></span>
													<span>$145.30</span>
												</div>
												<div class="beneficiary-summ outcome pull-left">
													<span><i class="fa fa-caret-down"></i></span>
													<span>$110.25</span>
												</div>
											</div>	
										</div>
											<div class="widget-beneficiary-block">
												<div class="widget-beneficiary-line">
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label">Dinner cost</div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
														<div class="transaction-summ positive_balance">$34.30</div>
													</div>
												</div>
												<div class="widget-beneficiary-line">
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label">Cashback</div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
														<div class="transaction-summ positive_balance">$12.50</div>
													</div>
												</div>
												<div class="widget-beneficiary-line">
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label">Waterworld cost</div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
														<div class="transaction-summ positive_balance">$47.50</div>
													</div>
												</div>

												<div class="widget-details-button">
					<a href="#" class="btn btn-default">Details</a>
				</div>
											</div>
										</div>
									</div>
<!--										<div class="front">
												<header class="drag-handle">
														<strong data-reference="boldHead">Vincent</strong>Vega
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content beneficiary">
														<img src="img/101x112/vincent.jpg" alt="vincent" class="beni_img" />
														<div class="beni_content">
																<div class="beni_inc">
																		<i class="fa fa-chevron-up"></i><i class="fa fa-euro currency"></i>145.25
																</div>
																<div class="beni_out">
																		<i class="fa fa-chevron-down"></i><i class="fa fa-euro currency"></i>110.25
																</div>

																<ul class="benif-transectoin">
																		<li><i class="fa fa-plus-circle"></i><strong>34.30</strong>EUR dinner cost</li>
																		<li><i class="fa fa-minus-circle"></i><strong>12.5</strong>EUR cashback</li>
																		<li><i class="fa fa-plus-circle"></i><strong>47.5</strong>EUR Waterworld cost</li>
																</ul>
														</div>
												</div>
										</div>
										<div class="back">
												<form>
														<div class="form-group">
																<input type="text" class="form-control" placeholder="Enter Value" />
														</div>
														<div class="form-group">
																<select class="form-control">
																		<option>Chose Option</option>
																</select>
														</div>
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
												</form>
										</div>
								</div>
						</div>-->
								</div></div>