<div class="modal fade in" id="setting_modal_acc" tabindex="-1" role="dialog" aria-hidden="true"
	 component="AccountDetail">
	<div class="modal-dialog modal-lg">
		<div class="modal-content setting_model_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Account Details</h4>
			</div>
			<div class="modal-body">
				<div class="main_body row">					
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 benificry-modal-cont">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-balances">
								<div class="widget-label">BASIC DETAILS</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/nickname.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Name</div>
													<div class="detail-info">VINCENT VEGA</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/type.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">ADDRESS</div>
													<div class="detail-info">Main street 32 </br>3405 Brussels</br>Belgium</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="benificry-user-cont">
												      <img class="svg" src="images/benuser.png" width="150" alt="" />
                              <div class="benificry-user-edit"><a href="javascript:void(0);"><img class="svg" src="images/svg/edit.svg" alt="" /></a></div>
												</div>											
											</div>
										</div>
									</div>
								</div>
								<div class="widget-details-button">
										<a href="#" class="btn btn-default">EDIT</a>
									</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 benificry-modal-cont">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">ACCOUNT DETAILS</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/type.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">TYPE</div>
													<div class="detail-info">Domestic Payment</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/iban.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">IBAN</div>
													<div class="detail-info">09000400930018</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Amount</div>
													<div class="detail-info">$377.17</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">BANK CODE</div>
													<div class="detail-info">DEUTESBBXXX</div>
												</div>
											</div>
										</div>
										
									</div>
									
								</div>
								<div class="widget-details-button">
										  <a href="#" class="btn btn-default">START PAYMENT</a>
									  </div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 benificry-modal-cont">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-transactions">
								<div class="widget-label">Transactions</div>
								<div class="widget-body">
									<div class="last-transactions">
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Dinner Cost</div>
												<div class="transaction-date">7 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ negative_balance">-$25.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Cash Back</div>
												<div class="transaction-date">10 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ positive_balance">+$1 245.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Waterwold Costs</div>
												<div class="transaction-date">8 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ positive_balance">+$65.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Dinner Cost</div>
												<div class="transaction-date">5 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
												<div class="transaction-summ negative_balance">-$25.00</div>
											</div>
										</div>
															
									</div>
									
								</div>
								<div class="widget-details-button">
										  <a href="#" class="btn btn-default">Details</a>
									  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
