<div id="nic" class="nicolas article grid-stack-item beneficiary-cont div_parth_for_nicolas" data-gs-x="50" data-gs-y="100" data-gs-position="12" data-current_content="12" data-showmore-bottom="0" data-showmore-right="0" data-name="ben_vincentvega"	data-gs-no-resize="true" data-gs-auto-position="false" data-gs-height="1" data-gs-min-height="1" template="Beneficiary">
								<div class="grid-stack-item-content card_flip div_for_beneficiary_details" >								
									<div class="widget-tools">
										<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span>
										</div>
									</div>
									<div class="widget widget-beneficiary">
										<div class="widget-label drag-handle">Beneficiary Details</div>
										<div class="widget-body">
												<div class="beneficiary-label">Vincent Vega</div>
										  <div class="widget-label drag-handle">
											<div class="widget-label-left-part"><img class="userpic pic_beneficiary" src="images/888.jpg" alt="Vincent Vega"></div>
											<div class="widget-label-right-part">
												<div class="beneficiary-summ income pull-left">
													<!-- <span><i class="fa fa-caret-up"></i></span> -->
													<span class='parth_for_income'>+$1,245.00</span>
												</div>

												<div class="beneficiary-summ outcome pull-left">
													<!-- <span><i class="fa fa-caret-down"></i></span> -->
													<span class='parth_for_outcome'>-$25.00</span>
												</div>
											</div>	
										</div>

											<div class="widget-beneficiary-block div_for_slideToggle" >
												<div class="widget-beneficiary-line">
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label"><h4><b>Dinner cost</b></h4><h6>7 JUNE</h6></div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
														<div class="transaction-summ positive_balance parth_dinner_coast">-$25.00</div>
													</div>
												</div>
												<div class="widget-beneficiary-line">
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label"><h4><b>Cash back</b></h4><h6>10 JUNE</h6></div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
														<div class="transaction-summ positive_balance">+$1.245.00</div>
													</div>
												</div>
												<div class="widget-beneficiary-line" style='margin-bottom:10px'>
													<div class="widget-beneficiary-left-part">
														<div class="beneficiary-line-label"><h4><b>Waterworld cost</b></h4><h6>8 JUNE</h6></div>
													</div>
													<div class="widget-beneficiary-right-part">
														<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
														<div class="transaction-summ positive_balance">+$65.00</div>
													</div>
												</div>

										</div>
												<div class='div_right_parth_angle'>
													<i class="fa fa-angle-right right_parth_angle" aria-hidden="true"></i>
												</div>

												<div class="widget-details-button">
												<!-- change_14.08.17 -->

													<a href='#'  class="btn btn-default btn_for_details_beneficiary_details">Details</a>
												<div class='div_for_slideDown'>	<i class="fa fa-angle-down beneficiary_slide_down_parth" aria-hidden="true"></i></div>
													
												</div>

									</div>
<!--										<div class="front">
												<header class="drag-handle">
														<strong data-reference="boldHead">Vincent</strong>Vega
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content beneficiary">
														<img src="img/101x112/vincent.jpg" alt="vincent" class="beni_img" />
														<div class="beni_content">
																<div class="beni_inc">
																		<i class="fa fa-chevron-up"></i><i class="fa fa-euro currency"></i>145.25
																</div>
																<div class="beni_out">
																		<i class="fa fa-chevron-down"></i><i class="fa fa-euro currency"></i>110.25
																</div>

																<ul class="benif-transectoin">
																		<li><i class="fa fa-plus-circle"></i><strong>34.30</strong>EUR dinner cost</li>
																		<li><i class="fa fa-minus-circle"></i><strong>12.5</strong>EUR cashback</li>
																		<li><i class="fa fa-plus-circle"></i><strong>47.5</strong>EUR Waterworld cost</li>
																</ul>
														</div>
												</div>
										</div>
										<div class="back">
												<form>
														<div class="form-group">
																<input type="text" class="form-control" placeholder="Enter Value" />
														</div>
														<div class="form-group">
																<select class="form-control">
																		<option>Chose Option</option>
																</select>
														</div>
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
												</form>
										</div>
								</div>
						</div>-->
								</div></div>

								<!-- change14.08.17 -->
