<div id="branch" class="article grid-stack-item" data-gs-x="2" data-gs-y="24" data-showmore-bottom="0" data-showmore-right="0" data-name="branchlocator"
								data-gs-height="2" data-gs-width="2" data-gs-min-height="2" data-gs-min-width="1" data-gs-no-resize="true" data-gs-auto-position="false"  data-gs-position="9" template="BranchLocator">
								<div class="grid-stack-item-content card_flip">
										<div class="front">
												<header class="drag-handle">
														<strong data-reference="boldTitle">Branch</strong>Locator
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content">
														<div id="map"></div>
														<div class="brand_search">
																<i class="fa fa-search"></i>
																<input type="text" name="search_branch_name" placeholder="Enter location" />
														</div>
														<div class="vlm">
																<a>View larger map</a>
														</div>
												</div>
										</div>
										<div class="back">
												<form>
														<div class="form-group">
																<input type="text" class="form-control" placeholder="Enter Value" />
														</div>
														<div class="form-group">
																<select class="form-control">
																		<option>Chose Option</option>
																</select>
														</div>
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
												</form>
										</div>
								</div>
								<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=showMap"></script>
						</div>