<div id="budget" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="1" data-gs-y="15"
								data-showmore-bottom="0" data-showmore-right="0" data-name="savinggoals" data-gs-width="1" data-gs-height="2" data-gs-min-height="2"
								data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="31" data-article-pos="31" template="Budget">
								<div id="budget_module" class="grid-stack-item-content card_flip savinggoals">
										<div class="front">
												<header class="drag-handle ui-draggable-handle">
														<strong>Budgets</strong>- 2015 September
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onclick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
										</div>
										<div class="widget-content" tabindex="1">

												<table class="saving_goals budgets">
														<tr>
															<td colspan="2" class="saving-goals-btn">
																<input class="btn btn-transparent" type="button" value="Monthly" />
																<input class="btn btn-transparent" type="button" value="Annual" />
															</td>
														</tr>
														<tr>
															<td width="30%" class="title">Total</td>
															<td width="70%" class="budget-inp"><span>2,115</span> EUR / <input type="text" value="4500"/> EUR</td>
														</tr>
														<tr class="goals-toggle">
																<td colspan="2" class="budget-chart">
																	<div class="divchart">
																			<div class="green" style="width: 47%">47%</div>
																			<div class="white" style="width: 53%"></div>
																	</div>
																</td>
														</tr>
														<tr>
															<td width="30%" class="title">Housing</td>
															<td width="70%" class="budget-inp"><span>870</span> EUR / <input type="text" value="1500"/> EUR</td>
														</tr>
														<tr class="goals-toggle">
																<td colspan="2" class="budget-chart">
																	<div class="divchart">
																			<div class="green" style="width: 58%">58%</div>
																			<div class="white" style="width: 42%"></div>
																	</div>
																</td>
														</tr>
														<tr>
															<td width="30%" class="title">Utility bills</td>
															<td width="70%" class="budget-inp"><span>264</span> EUR / <input type="text" value="300"/> EUR</td>
														</tr>
														<tr class="goals-toggle">
																<td colspan="2" class="budget-chart">
																	<div class="divchart">
																			<div class="yellow" style="width: 88%">88%</div>
																			<div class="white" style="width: 12%"></div>
																	</div>
																</td>
														</tr>
												</table>
										</div>
										<div class="bottom-center-abs">
												<input class="btn btn-transparent" type="button" value="See more" />
										</div>
								</div>
						</div>