<div id="widget-bank-card-change-pin" class="widget-bank-card-modal modal card-detail-screen">
	<div class=" modal-header card-detail-header">
    	<h4 class="pull-left">Please provide new pin</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	</div>
  	<div class="modal-body">
        <div class="modal-info">
            <img class="pull-left card-img" width="150" src="./images/gold-card.png" alt="credit-card">
            <div class="block-center text pull-left">
                <h5 class="my-credit-card">My Credit Card</h5>
	        </div>
  	    </div>
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="input-field">
                <label class="label-text" href="#">New PIN</label>
                <input type="text" class="PIN-inp">
            </div>
            <div class="input-field second-field">
                <label class="label-text" href="#">New PIN again</label>
                <input type="text" class="PIN-inp">
            </div>
        </div>
    </div>
  	<div class="modal-footer">
  	    <div class="btn-container">
	        <a href="#" class="confirm_bank_card btn">SIGN MODIFICATION</a>
    	</div>
	</div>
</div>