<div id="widget-bank-card-reissue-card" class="widget-bank-card-modal modal card-detail-screen">
	<div class=" modal-header card-detail-header">
    	<h4 class="pull-left">Reissue card</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	</div>
  	<div class="modal-body">
        <div class="modal-info">
            <img class="pull-left card-img" width="150" src="./images/gold-card.png" alt="credit-card">
            <div class="block-center text pull-left">
                <h5 class="my-credit-card">My Credit Card</h5>
                <p class="card_status"><span>Card status:</span> Blocked</p>
	        </div>
  	    </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="container-fluid">
            <div class="sms-input-field">
                <p>Sign transation with SMS code</p>
                <input type="text" class="SMS-inp" placeholder="SMS code">
            </div>
        </div>
    </div>
  	<div class="modal-footer">
  	    <div class="btn-container">
          <a href="#" class="confirm_bank_card btn">SIGN TRANSACTION</a>
	        <a href="#" class="cancel_bank_card btn">MODIFY DATA</a>
    	</div>
	</div>
</div>