<div id="cardApplication" data-gs-x="0" data-gs-y="20" data-gs-position="103" data-current_content="103" class="article grid-stack-item card-application" data-showmore-bottom="0"	data-showmore-right="0" data-gs-height="2" data-gs-width="2" data-gs-min-height="2" data-gs-min-width="2" data-name="cardApplication" data-gs-no-resize="true" template="CardApplication">

	<div id="commpayment" class="grid-stack-item-content relative quickpayment">
		<div class="widget-tools payment-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-payment widget-own-account-payment widget-chequebook-payment">
			<div class="widget-body bb-bookblock">
				<div class="bb-item" id="cardApplication_container_1">
					<div class="flex-wrapper">
						<div class="left-part">	
						<div class="part-title">Select card type:</div>						
							<div class="payment-choose-type">
                 <div class="card-main-container">
									<div class="payment-type chequebook-type active" id="pages-25">									
										<div><img src="images/card1.jpg" width="100" /></div>
										<span>VISA Blue</span>
									</div>		
									<div class="payment-type chequebook-type" id="pages-50">									
										<div><img src="images/card2.jpg" width="100" /></div>
										<span>Mastercard Gold</span>
									</div>									 
									<div class="payment-type chequebook-type" id="pages-75">									
										<div><img src="images/card3.jpg" width="100" /></div>
										<span>AMEX Gold</span>
									</div>
									<div class="payment-type chequebook-type" id="pages-100">									
										<div><img src="images/card4.jpg" width="100" /></div>
										<span>AMEX Platinum</span>
									</div>	
								</div>	
								<div class="card-button-cont"><input class="nav btn btn-transparent btn-default" type="button" value="See More Items" /></div>
							</div>
						</div>
							<div class="right-part">
									
									<div class="visa-blue content-to-show  active content-to-show-pages-25">
										<div class="top">
										<div class="chosen-payment-type chequebook-type-small active" style="width: 120px; border:1px solid #CEAF81
										;">							
										<div><img src="images/card1.jpg" width="100" /></div>
										<span style="font-size: 12px;">VISA Blue</span>
										</div>
									<div class="text" style="font-size: 14px;">
										<ul style="padding: 0; margin-left: 10px;">
											<li>No annual fees for first year</li>
											<li>Maximum credit limit: $5,000.</li>
											<li>Interest rate: 7.5%</li>
										</ul>
									</div>
										</div>
										<div class="chequebook-body">
					 					<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Requested credit limit</div>
												<div class="col-xs-9"><input type="text" value="$5,000" class="name" placeholder="$5,000" onchange="checkcurrency(this.value) ; checkMaxAmount('#cardApplication_container_1 .content-to-show.active',2)" /></div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Type</div>
												<div class="col-xs-9">
													<select class="select-curency option">
														<option value="Mall Branch">Main card</option>
														<option value="Mall Branch">Supplementary card</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Embossed name</div>
												<div class="col-xs-9"><input type="text" value="John Smith" class=" nickname" placeholder="John Smith" onchange="checkcurrency(this.value)"/></div>
											</div>
										</div>	

										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Minimun repayment</div>
												<div class="col-xs-9">5%</div>
											</div>
										</div>										
									
									</div>
									</div>
										<!--mastercard gold-->
									<div class="mastercard-gold content-to-show content-to-show-pages-50">
										<div class="top">
										<div class="chosen-payment-type chequebook-type-small active" style="width: 120px; border:1px solid #CEAF81;">							
										<div><img src="images/card2.jpg" width="100" /></div>
										<span style="font-size: 11px;">Mastercard Gold</span>
										</div>
									<div class="text" >
										<ul style="padding: 0; margin-left: 10px;">
											<li>No annual fees for first year</li>
											<li> Earn 3% cash back</li>
											<li>Maximum credit limit: $10,000.</li>
											<li>Interest rate: 7.5%</li>
										</ul>
									</div>
									</div>
									<div class="chequebook-body">
					 					<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Requested credit limit</div>
												<div class="col-xs-9"><input type="text" value="$10,000" class="name" placeholder="$10,000" onchange="checkcurrency(this.value);checkMaxAmount('#cardApplication_container_1 .content-to-show.active',3)" /></div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Type</div>
												<div class="col-xs-9">
													<select class="select-curency option">
														<option value="Mall Branch">Main card</option>
														<option value="Mall Branch">Supplementary card</option>															
													</select>
												</div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Embossed name</div>
												<div class="col-xs-9"><input type="text" value="John Smith" class=" nickname" placeholder="John Smith"/></div>
											</div>
										</div>	

										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Minimun repayment</div>
												<div class="col-xs-9">5%</div>
											</div>
										</div>										
										
									</div>
									</div>
									<!--amex gold-->
									<div class="amex-gold content-to-show content-to-show-pages-75">
									<div class="top">
									<div class="chosen-payment-type chequebook-type-small active" style="width: 120px; border:1px solid #CEAF81;">
										<div><img src="images/card3.jpg" width="100" /></div>
										<span style="font-size: 12px;">AMEX Gold</span>
									</div>
									<div class="text" >
									<ul style="padding: 0; margin-left: 10px;">
											<li>No annual fees for first year</li>
											<li> Earn 3% cash back</li>
											<li>Maximum credit limit: $10,000.</li>
											<li>Interest rate: 7.5%</li>
										</ul>
									</div>
									</div>
									<div class="chequebook-body">
					 					<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Requested credit limit</div>
												<div class="col-xs-9"><input type="text" value="$10,000" class="name" placeholder="$10,000" onchange="checkcurrency(this.value);checkMaxAmount('#cardApplication_container_1 .content-to-show.active',3)"  /></div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Type</div>
												<div class="col-xs-9">
													<select class="select-curency option">
														<option value="Mall Branch">Main card</option>							<option value="Mall Branch">Supplementary card</option>								
													</select>
												</div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Embossed name</div>
												<div class="col-xs-9"><input type="text" value="John Smith" class=" nickname" placeholder="John Smith"/></div>
											</div>
										</div>	

										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Minimun repayment</div>
												<div class="col-xs-9">5%</div>
											</div>
										</div>										
									
									</div>
									</div>
									<!--amex platnium-->
									<div class="amex-platinum content-to-show content-to-show-pages-100">
									<div class="top">
									<div class="chosen-payment-type chequebook-type-small active" style="width: 120px; border:1px solid #CEAF81;">
										<div><img src="images/card4.jpg" width="100" /></div>
										<span style="font-size: 12px;">AMEX Platinum</span>
									</div>
									<div class="text" >
									<ul style="padding: 0; margin-left: 10px; font-size: 13px;">
											<li>No annual fees for first year</li>
											<li> Earn 3% cash back</li>
											<li>Maximum credit limit: $20,000.</li>
											<li>Interest rate: 7.5%</li>
										</ul>
									</div>
									</div>
									<div class="chequebook-body">
					 					<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Requested credit limit</div>
												<div class="col-xs-9"><input type="text" value="$20,000" class="name" placeholder="$20,000" onchange="checkcurrency(this.value);checkMaxAmount('#cardApplication_container_1 .content-to-show.active',3)"  /></div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Type</div>
												<div class="col-xs-9">
													<select class="select-curency option">
														<option value="Mall Branch">Main card</option>
														<option value="Mall Branch">Supplementary card</option>															
													</select>
												</div>
											</div>
										</div>
										
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Embossed name</div>
												<div class="col-xs-9"><input type="text" value="John Smith" class="nickname" placeholder="John Smith"/></div>
											</div>
										</div>	

										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Minimun repayment</div>
												<div class="col-xs-9">5%</div>
											</div>
										</div>										
									</div>
									</div>
										<div class="payment-right-navigation">
											<div class="widget-details-button">
												<input data-nav-dir="next" class="nav btn btn-default" type="button" value="Next"
										  			 onclick="swipePaymentPartnerScreen(this);
												   fillcardApplication(this , '#cardApplication_container_1 .content-to-show.active','#cardApplication_container_2 .content-to-show.active')"/>
											</div>
										</div>
								
							</div>
					</div>
				</div>
				<div class="bb-item" id="cardApplication_container_2">
					<div class="flex-wrapper">
						<div class="left-part">							
							<div class="payment-choose-type">
								<div class=" content-to-show  active content-to-show-pages-25">									
									<!-- <div><img src="images/card1.jpg" width="250" /></div>
										<span>VISA Blue</span>

										<div class="card-button-cont"><input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="See More" /></div>-->
										<div class="m-gold">									
										<div><img src="images/card1.jpg" width="100" /></div>
										<p>VISA Blue</p>
									</div>	
									<div  class="m-gold-text">
										<ul>
										<li>No annual fees for first year</li>
											<li>Maximum credit limit: $5,000.</li>
											<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
									<div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									</div>
								</div>	
								
									<!-- Mastercard Gold-->
									<div class="content-to-show content-to-show-pages-50">
									  <!-- <div><img src="images/card2.jpg" width="250" /></div>
										<span>Mastercard Gold</span>

										<div class="card-button-cont"><input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="See More" /></div> -->

									<div class="m-gold">									
										<div><img src="images/card2.jpg" width="100" /></div>
										<p>Mastercard Gold</p>
									</div>	
									<div  class="m-gold-text">
										<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $10,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
									<div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									</div>
								</div>	
									<!--Amex Gold-->
								<div class="content-to-show content-to-show-pages-75">
									  <!-- <div><img src="images/card3.jpg" width="250" /></div>
										<span>AMEX Gold</span>

										<div class="card-button-cont"><input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="See More" /></div> -->
										<div class="m-gold">									
										<div><img src="images/card3.jpg" width="100" /></div>
										<p>AMEX Gold</p>
									</div>	
									<div  class="m-gold-text">
										<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $10,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
									<div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									</div>
								</div>	
								<!-- Amex Platinum-->
								<div class="content-to-show content-to-show-pages-100">
									  <!-- <div><img src="images/card4.jpg" width="250" /></div>
										<span>AMEX Platinum</span>

										<div class="card-button-cont"><input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="See More" /></div> -->
										<div class="m-gold">									
										<div><img src="images/card4.jpg" width="100" /></div>
										<p>AMEX Platinum</p>
									</div>	
									<div  class="m-gold-text">
										<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $20,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
									<div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									</div>
								</div>

							</div>
						</div>
							<div class="right-part">						 
								<!-- <div class="content-to-show content-to-show-pages-50" >
									<div class="top">
										<div class="payment-type chequebook-type-small active">
											<span>50</span>
											<div>pages</div>
										</div>
										
										<div class="text">
											The chequebook consists of 50 pages.<br><br>
											Chequebook requests usually take 1-3 working days to be processed.
										</div>
									</div>
									<div class="text">
										Delivery deatils:
									</div>
								</div> -->		
								<p style="color: black; padding: 20px 0 70px 20px;">Provide the following data:</p>						
									<div class="chequebook-body">
					 					<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Employment status</div>
												<div class="col-xs-9">
													<select class="select-curency-2">
														<option value="Mall Branch">Employee</option>														
														<option value="Mall Branch">Self-Employed</option>														
														<option value="Mall Branch">Student</option>														
														<option value="Mall Branch">Retired</option>														
													</select>
												</div>
											</div>
										</div>
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3">Annual gross salary</div>
												<div class="col-xs-9"><input type="text" value="$45,000" class="gross-salary" placeholder="$45,000"/></div>
											</div>
										</div>	
										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row">
												<div class="col-xs-3 chequebook-select-label">Marital status</div>
												<div class="col-xs-9">
													<select class="select-curency-3">
														<option value="Mall Branch">Single</option>														
														<option value="Mall Branch">Married</option>														
													</select>
												</div>
											</div>
										</div>

										<div class="payment-benefeciary-details">
											<div class="payment-benefeciary-detail row termCondCont">
												<div class="col-xs-12"><input type="checkbox" name="openAcc" />I have read and agree to the <a href="javaScript:void(0);" class="termCond">terms and conditions</a></div>
											</div>
										</div>
										
										
																			
										<div class="payment-right-navigation">
											<div class="widget-details-button">
												<input data-nav-dir="next" class="nav btn btn-default" type="button" value="Next"
													   onclick="swipePaymentPartnerScreen(this);
													   fillcardApplication(this , '#cardApplication_container_1 .content-to-show.active','#cardApplication_container_3 .content-to-show.active');
													   fillcardApplication(this , '#cardApplication_container_2 .right-part .chequebook-body','#cardApplication_container_3 .content-to-show.active')"/>	
													   <input data-nav-dir="prev" class="nav btn btn-default" type="button" value="Back"
													   onclick="commonPaymentShowOriginal(this)"/>	
													   <input data-nav-dir="next" class="nav btn btn-default" type="button" value="Save"
													   onclick="swipePaymentPartnerScreen(this)"/>
											</div>
										</div>
									</div>
							</div>
					</div>
				</div>
				<div class="bb-item" id="cardApplication_container_3">
					<div class="flex-wrapper">
						<div class="left-part flex-center-column">
							<div class="content-to-show cardappli3 content-to-show-pages-25 active" >
								  <div class="m-gold" style="margin-top: 30px !important;">									
										<div><img src="images/card1.jpg" width="100" /></div>
										<p>VISA Blue</p>
									</div>	 
									<div  class="m-gold-text"  style="margin-top: 25px !important;">
									<ul>
										<li>No annual fees for first year</li>
											<li>Maximum credit limit: $5,000.</li>
											<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
										   
											  <div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									<div class="m-gold-top4">
										<span>Emplyment status:</span>
										<span class="emplayment-status"></span>
									</div>
									<div class="m-gold-top5">
										<span>Annual gross salary:</span>
										<span class="transaction-salary"></span>
									</div>
									<div class="m-gold-top6">
										<span>Martial status:</span>
										<span class="martial-status"></span>
									</div>
									</div>
									
							</div>							
							<div class="content-to-show cardappli3 content-to-show-pages-50" >
								  <div class="m-gold">									
										<div><img src="images/card2.jpg" width="100" /></div>
										<p>Mastercard Gold</p>
									</div>	
									<div  class="m-gold-text"  style="margin-top: 25px !important;">
									<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $10,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
										   
											  <div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									<div class="m-gold-top4">
										<span>Emplyment status:</span>
										<span class="emplayment-status"></span>
									</div>
									<div class="m-gold-top5">
										<span>Annual gross salary:</span>
										<span class="transaction-salary"></span>
									</div>
									<div class="m-gold-top6">
										<span>Martial status:</span>
										<span class="martial-status"></span>
									</div>
									</div>

									<!-- <div class="account-open-basic">
										   <div class="account-open-inr">
											   <div class="account-open-label">Amount</div>
												 <div class="account-open-detail">EUR 10,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Type</div>
												 <div class="account-open-detail">Main card</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Minimum repayment</div>
												 <div class="account-open-detail">5%</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Employment status</div>
												 <div class="account-open-detail">Employee</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Annual gross salary</div>
												 <div class="account-open-detail">EUR 45,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Marital status</div>
												 <div class="account-open-detail">Single</div>
											 </div>
									</div> -->
							</div>
							<div class="content-to-show cardappli3 content-to-show-pages-75" >
								 <!--  <div class="cart-select-type content-to-show  active content-to-show-pages-75">									
									   <div><img src="images/card3.jpg" width="100" /></div>
								  </div>  -->
								  <div class="m-gold">									
										<div><img src="images/card3.jpg" width="100" /></div>
										<p>AMEX Gold</p>
									</div>	
									<div  class="m-gold-text"  style="margin-top: 25px !important;">
									<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $10,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
										   
											  <div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									<div class="m-gold-top4">
										<span>Emplyment status:</span>
										<span class="emplayment-status"></span>
									</div>
									<div class="m-gold-top5">
										<span>Annual gross salary:</span>
										<span class="transaction-salary"></span>
									</div>
									<div class="m-gold-top6">
										<span>Martial status:</span>
										<span class="martial-status"></span>
									</div>
									</div>
									<!-- <div class="account-open-basic">
										   <div class="account-open-inr">
											   <div class="account-open-label">Amount</div>
												 <div class="account-open-detail">EUR 10,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Type</div>
												 <div class="account-open-detail">Main card</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Minimum repayment</div>
												 <div class="account-open-detail">5%</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Employment status</div>
												 <div class="account-open-detail">Employee</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Annual gross salary</div>
												 <div class="account-open-detail">EUR 45,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Marital status</div>
												 <div class="account-open-detail">Single</div>
											 </div>
									</div> -->
							</div>
							<div class="content-to-show cardappli3 content-to-show-pages-100" >
								  <!-- <div class="cart-select-type content-to-show  active content-to-show-pages-100">									
									   <div><img src="images/card4.jpg" width="100" /></div>
								  </div>  -->
								  <div class="m-gold">									
										<div><img src="images/card4.jpg" width="100" /></div>
										<p>AMEX Platinum</p>
									</div>	
									<div  class="m-gold-text"  style="margin-top: 45px !important;">
									<ul>
										<li>No annual fees for first year</li>
										<li>Earn 3% cash back</li>
										<li>Maximum credit limit: $20,000.</li>
										<li>Interest rate: 7.5%</li>
									</ul>
									</div>
									<div class="clear"></div>
										   
											  <div class="m-gold-top">
									<div class="m-gold-top1">
										<span>Credit limit:</span>
										<span class="transaction-name"></span>
									</div>
									<div class="m-gold-top2">
										<span>Type:</span>
										<span class="transaction-type"></span>
									</div>
									<div class="m-gold-top3">
										<span>Name:</span>
										<span class="transaction-nickname"></span>
									</div>
									<div class="m-gold-top4">
										<span>Emplyment status:</span>
										<span class="emplayment-status"></span>
									</div>
									<div class="m-gold-top5">
										<span>Annual gross salary:</span>
										<span class="transaction-salary"></span>
									</div>
									<div class="m-gold-top6">
										<span>Martial status:</span>
										<span class="martial-status"></span>
									</div>
									</div>
									<!-- <div class="account-open-basic">
										   <div class="account-open-inr">
											   <div class="account-open-label">Amount</div>
												 <div class="account-open-detail">EUR 10,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Type</div>
												 <div class="account-open-detail">Main card</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Minimum repayment</div>
												 <div class="account-open-detail">5%</div>
											 </div>
											  <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Employment status</div>
												 <div class="account-open-detail">Employee</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Name on card</div>
												 <div class="account-open-detail">John Smith</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Annual gross salary</div>
												 <div class="account-open-detail">EUR 45,000</div>
											 </div>
											 <div class="account-open-inr">
											   <div class="account-open-label">Marital status</div>
												 <div class="account-open-detail">Single</div>
											 </div>
									</div> -->
							</div>
						</div>
						<div class="right-part">
							<div class="part-title" style="margin-top: 30px;">Use your Mobile Token to approve the transaction:</div>
							<div class="cube-code">
								<img src="images/u4.jpg">
							</div>
							<div class="payment-benefeciary-details">
								<div class="payment-benefeciary-detail row">
									<div class="col-xs-6">One time password</div>
									<div class="col-xs-6"><input type="password" /></div>
								</div>
							</div>
							<div class="payment-right-navigation with-margin">
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="Submit" onclick="validationPayment('#cardApplication', this, '#cardApplication_container_3 .payment-benefeciary-details', '#cardApplication_container_4', '#payment-benefeciary-fields', true);fillTransactionDetails('#cardApplication_container_4 .payment-transaction-details', '#cardApplication_container_3 .payment-benefeciary-details');" />
									
									<input class="btn btn-transparent btn-default" id="paymentTransactionSave" type="button" value="Envelope"
										   onclick="saveBeneficiary(this)"/>
									<input data-nav-dir="prev" class="nav btn btn-transparent btn-default" type="button" value="Back"
										   onclick="commonPaymentShowOriginal(this)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="cardApplication_container_4">
					<div class="flex-wrapper">
						<div class="left-part flex-center">
						<div class="spiner-block" style="display: none;">							
							<div class="spiner"><img src="./images/loading_spinner.gif"></div>					
							</div>
							<div class="final-info">
								<div class="password-block">
								<img class="svg" src="images/svg/complete_payment.svg">
								<div class="title dark">Your request is under processing</div>
								<div class="info grey">We will notify you if it is processed</div>
								<div class="title grey separator">Transaction ID:</div>
								<div class="info grey">TR000345629867</div>
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="REPEAT" onclick="clearTransactionDetails('#cardApplication_container_2 .payment-benefeciary-details')"/>
								</div>
							</div>
							</div>
						</div>
						<div class="right-part flex-center">
							<img src="images/accountOpen.jpg" style="width: 100%;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
