<div id="widget-bank-card-modal" class="widget-bank-card-modal modal card-detail-screen">
	<div class="modal-header card-detail-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h4 class="pull-left">Change card status</h4>
  	</div>
  	<div class="modal-body">
        <div class="modal-info">
            <img class="pull-left" width="150" src="./images/gold-card.png" alt="credit-card">
                <div class="block-center pull-left text">
                    <h5 class="my-credit-card">My Credit Card</h5>
                    <p class="card_status"><span>Card status:</span> Active</p>
                </div>
        </div>        
        <div class="clearfix"></div>
        <div class="navbar">
            <div class="container-fluid">
                <div class="navbar-header first-row">
                    <a class="navbar-brand" href="#"><span>New card status</span></a>
                </div>
                <ul class="nav navbar-nav new_card_status">
                    <li><a href="#">Temporary blocked</a></li>
                    <li><a href="#">Blocked</a></li>
                </ul>
            </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid text-center">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Reason</a>
                        </div>
                        <ul class="nav navbar-nav lose-reason">
                            <li><a href="#">Lost</a></li>
                            <li><a href="#">Stolen</a></li>
                            <li><a href="#">Damaged</a></li>
                        </ul>
                    </div>
                </nav> 
        </div>
  	    <div class="modal-footer">
  		    <div class="btn-container">
	    	    <a href="#" class="confirm_bank_card btn">CONFIRM</a>
	    	    <a href="#" class="cancel_bank_card btn">CANCEL</a>
    	    </div>
	    </div>
    </div>
</div>