<div id="contact" class="article grid-stack-item" data-gs-x="11" data-gs-y="100" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="1"
	 data-gs-width="1" data-gs-min-height="1" data-gs-min-width="1" data-name="contact" data-gs-no-resize="true" data-gs-auto-position="false"
	 data-gs-position="11" template="Contact">
	<div class="grid-stack-item-content card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<div class="widget-less-right">
				<span class="show_less_right">
					<i class="fa fa-angle-left"></i>
				</span>
			</div>
			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
			<div class="widget-less-bottom">
				<span class="show_less_bottom">
					<i class="fa fa-angle-up"></i>
				</span>
			</div>
		</div>

		<div class="widget widget-contact">
			<div class="widget-label drag-handle">Private Relationship Manager</div>
			<div class="widget-label drag-handle contact-manager">
				<div class="widget-label-left-part"><img class="userpic" src="images/contact-user.png" alt="Sandra Faltz"></div>
				<div class="widget-label-right-part">
					<div class="contact-manager-name">Sandra Faltz</div>
					<div class="contact-manager-position pull-left">												
						<span>Private Manager</span>
					</div>
				</div>	
			</div>
			<div class="widget-body">
				<div class="contact-block more_content_bottom">

					<div class="contact-line">
						<div class="contact-line-body">
							<div>
								<div class="contact-icon"><img src="images/marker.png" alt=""></div>
							</div>
							<div class="text"><span class="two-line">53/58 East Street<br> Valletta VLT1251, Malta</span></div>
						</div>
					</div>

					<div class="contact-line">
						<div class="contact-line-body">
							<div>
								<div class="contact-icon"><img src="images/phone.png" alt=""></div>
							</div>
							<div class="text"><span>0800 97802</span></div>
						</div>
					</div>

					<div class="contact-line">
						<div class="contact-line-body last">
							<div>
								<div class="contact-icon"><img src="images/chat.png" alt=""></div>
							</div>
							<div class="text"><span>sandra.faltz@bank.com</span></div>
						</div>
					</div>

				</div>
			</div>
			<div class="widget-details-button">
				<a href="#" class="btn btn-default">Contact</a>
			</div>
		</div>
	</div>
</div>