<div id="credit" class="article grid-stack-item" data-show_only_either="true" data-gs-x="0" data-gs-y="6" data-showmore-bottom="0"
								data-showmore-right="0" data-gs-height="2" data-gs-width="1" data-gs-min-height="2" data-gs-min-width="1" data-name="creditcard"
								data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="15" template="CreditCard">
								<div class="grid-stack-item-content current_stack_item card_flip">
										<div class="front">
												<header class="drag-handle">
														<strong>My VISA Credit</strong>Card
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content">
														<div class="row credit_card_panel">
																<div class="col-md-12 main_content">
																		<div class="credit_card">
																				<img id="credit1" src="img/cradit_card.png" alt="my-credit-card" class="img-responsive cardimage" />
																				<p>Available balance</p>
																				<h5><i class="fa fa-euro"></i>3,200</h5>
																		</div>

																		<span data-current_display_status="show" class="show_more_bottom"><i class="fa fa-angle-down"></i></span>

																		<div class="more_content_bottom">
																				<ul class="transectoin_list" data-reference="TransactionItemType">
																						<li><i class="fa fa-minus-circle"></i><strong>58.38</strong>EUR Zara<span class="tran-date">June 10</span></li>
																						<li><i class="fa fa-minus-circle"></i><strong>9,99</strong>EUR Cinema City<span class="tran-date">June 9</span></li>
																						<li><i class="fa fa-minus-circle"></i><strong>25,00</strong>EUR Cheesecake Factory<span class="tran-date">June 9</span></li>
																						<li><i class="fa fa-minus-circle"></i><strong>350.00 </strong>EUR Hilton London<span class="tran-date">June 9</span></li>
																				</ul>
																		</div>
																		<span data-current_display_status="hide" class="show_more_right"><i class="fa fa-angle-right"></i></span>
																</div>

																<div class="col-md-6 hide more_content_right">
																		<ul class="transectoin_list">
																				<li><i class="fa fa-minus-circle"></i><strong>58.38</strong>EUR Zara<span class="tran-date">June 10</span></li>
																				<li><i class="fa fa-minus-circle"></i><strong>9,99</strong>EUR Cinema City<span class="tran-date">June 9</span></li>
																				<li><i class="fa fa-minus-circle"></i><strong>25,00</strong>EUR Cheesecake Factory<span class="tran-date">June 9</span></li>
																				<li><i class="fa fa-minus-circle"></i><strong>350.00 </strong>EUR Hilton London<span class="tran-date">June 9</span></li>
																				<li><i class="fa fa-minus-circle"></i><strong>119.00</strong>EUR EASYJET<span class="tran-date">June 8</span></li>
																		</ul>
																</div>
														</div>
												</div>
										</div>
										<div class="back">
												<form>
														<div class="form-group">
																<input type="text" class="form-control" placeholder="Enter Value" />
														</div>
														<div class="form-group">
																<select class="form-control">
																		<option>Chose Option</option>
																</select>
														</div>
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
												</form>
										</div>
								</div>
						</div>