<div class="modal fade in" id="setting_modal_card_credit" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
						<div class="modal-content setting_model_content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title">Card Details</h4>
								</div>
								<div class="modal-body">
										<div class="main_body">

												<!-- Last 5 transactions box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Latest</strong>Transactions
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-minus-circle"></i></span><span class="amount"><strong>60.95</strong>EUR</span>CARREFOUR <span
																								class="tran-date">June 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-minus-circle"></i></span> <span class="amount"><strong>119.00</strong>EUR</span>VIRGIN
																								MEGASTORE<span class="tran-date">June 8</span>
																								<div class="arrow"></div></li>
																						<li><i class="fa fa-plus-circle"></i><strong>0.00</strong> EUR annual fee, Personal loan at 6.38%
																								<div class="letsee"></div></li>
																						<li><span class="dir"><i class="fa fa-minus-circle"></i></span> <span class="amount"><strong>25.00</strong>EUR</span>COSTA COFFEE
																								<span class="tran-date">June 8</span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span> <span class="amount"><strong>1,245.00</strong>EUR</span>Axa
																								<span class="tran-date">June 7</span>
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>

												<!-- Balances box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Balances</strong>
																</header>
																<div class="widget-content" tabindex="1">
																		<ul class="acc-details-list balance">
																				<li><span>Available</span>
																						<div class="p">3,200 EUR</div></li>
																				<li><span>Booked</span>
																						<div class="p">0 EUR</div></li>
																				<li><span>Blockings</span>
																						<div class="p">0 EUR</div></li>
																		</ul>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Change PIN" />
																</div>
														</div>
												</div>

												<!-- Advertisement -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Advertisement</strong>
																</header>
																<div class="widget-content text-center advertisement">
																		<!--img src="img/add.png" alt="advertisement" class="img-responsive" /-->
																		<img src="img/ads/term_deposit.png" alt="advertisement" class="img-responsive" />
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Details" />
																</div>
														</div>
												</div>


												<!-- Basic Details box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Basic</strong>details
																</header>
																<div class="widget-content" tabindex="1">
																		<ul class="acc-details-list balance">
																				<li><font class="accbalance">Card Number</font>
																						<div class="p">0044 1561 0230 00</div></li>
																				<li><font>Card holder name</font>
																						<div class="p">Jane Doe</div>
																						<div class="pencil"></div></li>
																				<li><font class="st-type">Type</font>
																						<div class="p">Visa</div>
																						<div class="pencil"></div></li>
																				<li><font>Linked account</font>
																						<div class="p">My Current EUR</div></li>
																				<li><font>Status</font>
																						<div class="p">Active</div></li>
																		</ul>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Switch to premium account" />
																</div>
														</div>
												</div>

												<!-- Limits box -->
												<div class="article inner-class">
														<div class="acc-details-new relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Limits</strong>in EUR
																</header>
																<!-- chart max width: 168 -->
																<div class="widget-content" tabindex="1">
																		<ul class="acc-details-list limits">
																				<li><font>Cash withdrawal (one-time):</font>
																						<div class="divchart">
																								<div class="red" style="width: 66%">2,000</div>
																								<div class="white" style="width: 34%">3,000</div>
																						</div></li>
																				<li><font>Cash withdrawal (daily):</font>
																						<div class="divchart">
																								<div class="yellow" style="width: 50%;">5,000</div>
																								<div class="white" style="width: 50%;">10,000</div>
																						</div></li>
																				<li><font>Purchase (one-time):</font>
																						<div class="divchart">
																								<div class="red" style="width: 66%">2,000</div>
																								<div class="white" style="width: 34%">3,000</div>
																						</div></li>
																				<li><font>Purchase (daily):</font>
																						<div class="divchart">
																								<div class="yellow" style="width: 50%">5,000</div>
																								<div class="white" style="width: 50%">10,000</div>
																						</div></li>
																		</ul>
																</div>
														</div>
												</div>
												
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Statements</strong>
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span><span class="amount"><strong>05 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>04 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span><span class="amount"><strong>03 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>02 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>01 2015</strong></span>
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>