<div id="myCurrentJane" data-gs-x="100" data-gs-y="100" data-gs-position="2" data-current_content="2" class="article grid-stack-item has_left_widget" data-gs-height="1" data-gs-width="1" data-gs-min-height="1" data-gs-auto-position="false" data-gs-no-resize="true" data-fix_right_height="false" data-knob_id=".currentAccountJane" data-show_only_either="true" data-showmore-bottom="0" data-showmore-right="0" data-name="CurrentAccountJane" template="CurrentAccountJane">
	<div class="grid-stack-item-content">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
			</div>
			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
			</div>
			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
			<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
			</div>
		</div>
		<div class="widget widget-account">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">my current account</div>
					<div class="widget-summ">$824.00</div>
					<div class="widget-progress-bar">
						<div class="bar-background"></div>
						<div class="bar-progress"></div>
					</div>
					<div class="last-transactions more_content_bottom">
						 <div class="shpping-bag-container">
                 <img src="images/janesmithbag.jpg" />

                 <a class="shpping-bag-edit"> <img src="images/svg/edit.svg" /> </a>
						 </div>
					</div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
				<div class="details more_content_right">
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/iban.png" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">IBAN</div>
							<div class="detail-info">GB29 NWBK 6013 1331 9268 98</div>
						</div>
					</div>
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/book_balance.png" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">Book balance</div>
							<div class="detail-info">$896.46</div>
						</div>
					</div>
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/accrued_interest.png" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">Accrued interest</div>
							<div class="detail-info">$4.09</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>