<div id="deposit" class="article grid-stack-item has_left_widget" data-gs-x="1" data-gs-y="36" data-gs-position="12" data-current_content="12"  data-gs-height="1" data-gs-width="1" data-gs-min-height="1" data-gs-auto-position="false" data-gs-no-resize="true" data-fix_right_height="true" data-knob_id=".dial2"  data-showmore-bottom="0" data-showmore-right="0" data-show_only_either="true" data-name="termdeposit" template="Deposit">
	<div class="grid-stack-item-content">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span>
			</div>
			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
			</div>
			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
			</div>
			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
			<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
			</div>
		</div>
		<div class="widget widget-deposit">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">my term deposit</div>
					  <div class="col-md-7 nopadding posrelative">
               <span id="term_days" class="term_days">5 days left</span>
					  <div id="term_deposit"></div></div>
					  <div class="col-md-5 nopadding"><div class="widget-summ term-amount-sum">$1,295</div></div>
					
					<div class="last-transactions more_content_bottom">
						<div class="transaction">
							<div class="transaction-left-part">
								<div class="transaction-label">Interest Payment</div>
								<div class="transaction-date">7 July</div>
							</div>
							<div class="transaction-right-part">
								<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
								<div class="transaction-summ positive_balance">+$25.00</div>
							</div>
						</div>
						<div class="transaction">
							<div class="transaction-left-part">
								<div class="transaction-label">Interest Payment</div>
								<div class="transaction-date">7 June</div>
							</div>
							<div class="transaction-right-part">
								<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
								<div class="transaction-summ positive_balance">+$25.00</div>
							</div>
						</div>
						<div class="transaction">
							<div class="transaction-left-part">
								<div class="transaction-label">My Current Account</div>
								<div class="transaction-date">10 May</div>
							</div>
							<div class="transaction-right-part">
								<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
								<div class="transaction-summ positive_balance">+$1 245.00</div>
							</div>
						</div>
					</div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
				<div class="details more_content_right">
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/svg/interest_rate.svg" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">Interest rate</div>
							<div class="detail-info">2.27%</div>
						</div>
					</div>
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/svg/amount_due_at_maturity.svg" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">Amount due at maturity</div>
							<div class="detail-info">$1315.70</div>
						</div>
					</div>
					<div class="detail-container">
						<div class="detail-icon"><img class="svg" src="images/svg/maturity_date.svg" alt=""></div>
						<div class="detail-right-part">
							<div class="detail-label">Maturity date</div>
							<div class="detail-info">15-05-2017</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>