<div id="drafts" class="article grid-stack-item" data-show_only_either="true" data-gs-x="1" data-gs-y="6" data-showmore-bottom="0" data-gs-position="16"
								data-showmore-right="0" data-gs-height="2" data-gs-min-height="2" data-name="drafts" data-gs-no-resize="true" data-gs-auto-position="false" template="Drafts">
								<div class="grid-stack-item-content card_flip">
										<div class="front">
												<header class="drag-handle">
														<strong>Drafts</strong>
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content row">
														<div class="col-md-12 main_content latest-tran">
																<ul class="transectoin_list" data-reference="TransactionItemType">
																		<li><i class="fa fa-minus-circle"></i><strong>60.95</strong>EUR&nbsp;Carrefour<span class="tran-date">June 10</span></li>
																		<li><i class="fa fa-minus-circle"></i><strong>119.00</strong>EUR Virgin Megastore<span class="tran-date">June 8</span></li>
																		<li><i class="fa fa-minus-circle"></i><strong>25.00</strong>EUR <lang>Costa coffee</lang><span class="tran-date">June 8</span></li>
																		<li><i class="fa fa-plus-circle"></i><strong>1,245.00</strong>EUR Axa<span class="tran-date">June 7</span></li>
																		<li><i class="fa fa-minus-circle"></i><strong>300.00</strong>EUR Cash withdrawal<span class="tran-date">June 7</span></li>
																</ul>
														</div>
												</div>
										</div>
								</div>
						</div>