<div class="modal fade in" id="setting_modal_tran" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content setting_model_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Transaction Details</h4>
            </div>
            <div class="modal-body tran-details">
                <div class="main_body row">
                    <div class="into-expanded-item no-details envelope-specific-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit envelope-specific">
                                <div class="widget-body">
									<div class="left-part">
										<div class="detail">
											<div class="detail-label">Number of transactions</div>
											<div class="detail-content">4</div>
										</div>
										<div class="detail">
											<div class="detail-label">Total amount</div>
											<div class="detail-content">EUR 4 340.00<br>
												USD 236.98</div>
										</div>
										<div class="password-wrapper">
											<label for="password-input-envelope" class="password-label">One time password</label>
											<input type="text" class="password-input" id="password-input-envelope"/>
										</div>
									</div>
									<div class="right-part">
										<div class="detail">
											<div class="detail-label">Use Izola Pass to generate one time password:</div>
											<div class="detail-image">
												<img src="images/u4.jpg" alt="">
											</div>
										</div>
										<div class="submit-button">
											<input type="button" class="btn" value="Submit"/>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Tom Smith">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Tom Smith</div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/ts.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$25.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><i class="close fa fa-close"></i> <span>Remove</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joanne Ford">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joanne Ford</div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jf.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$25.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><i class="close fa fa-close"></i> <span>Remove</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Richard Watson">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Richard Watson</div>
                                        <div class="date">10 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/rw.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$1 245.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><i class="close fa fa-close"></i> <span>Remove</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joe Smith">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joe Smith</div>
                                        <div class="date">8 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/js.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$65.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><i class="close fa fa-close"></i> <span>Remove</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>