<div id="future" data-gs-x="1" data-gs-y="2" data-gs-position="7" data-current_content="7" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-knob_id=".dial_futcashflow" data-showmore-bottom="0" data-showmore-right="0" data-name="futurecashflow" data-gs-max-height="2" data-gs-width="1" data-gs-position="14" data-gs-height="2" data-gs-min-height="2" data-article-pos="23" data-gs-no-resize="true" data-gs-auto-position="false" template="FutureCashFlow">
	<div id="pfm_future_cashflow_module" class="grid-stack-item-content card_flip futurecashflow">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<!--			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
						</div>-->
			<!--			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
						</div>-->
			<!--			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
						<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
						</div>-->
		</div>
		<div class="widget widget-future-cash-flow">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">Future cashflow</div>
					<div class="future-cash-text">Your predicted balance <br>at the end of the month:</div>
					<div class="col-md-12 nopadding posrelative">
            <span id="future_cash_price" class="future_cash_price">-$500</span>
						<div id="future_cash_pie"></div>
					</div>
					<div class="col-md-12 nopadding posrelative marginTop10">
					    <div id="future_cash_pie_line" class="highcharts-container"></div>
					</div>

					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>