<div class="modal fade in" id="setting_modal_loyal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
						<div class="modal-content setting_model_content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title">Account Details</h4>
								</div>
								<div class="modal-body">
										<div class="main_body">

												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Loyalty</strong> points
																</header>
																<div class="widget-content row">
																	<div class="loyal-detail-points">
																		<div class="graph_content graph-left">
																			<input type="text" class="dial_loyalty" />
																		</div>
																		<div class="loy-balance-point">13,500</div>
																		<div class="loy-balance-earn">Earn 6,500 more to reach silver!</div>
																	</div>
																</div>
														</div>
												</div>

												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Reward</strong> points
																</header>
																<div class="widget-content">
																	<div class="loyal-detail-points">
																		<div class="graph_content graph-left">
																				<input type="text" class="dial_loyalty" />
																		</div>
																		<div class="loy-balance-point">11,950</div>
																		<div class="redeem-container">
																			<input class="btn btn-transparent" type="button" value="Redeem points" />
																		</div>
																	</div>
																</div>
														</div>
												</div>

												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																	<strong>Earn</strong>loyalty points
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="points"><strong>5,000 for credit card application</strong></span> 
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span> <span class="points"><strong>1,000 for first savings goal</strong></span>
																								<div class="arrow"></div></li>
																						<li><i class="fa fa-plus-circle"></i><strong>0.00</strong> EUR annual fee, Credit card at 7,9%
																								<div class="letsee"></div></li>
																						<li><span class="dir"><i
																										class="fa fa-plus-circle"></i></span> <span class="points"><strong>2,500 for recommending a product</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span> <span class="points"><strong>1,500 for community registratio</strong></span>
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>

												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																	<strong>Points</strong>statement
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="points"><strong>1,000 loan repayment</strong></span><span
																								class="tran-date">June 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span> <span class="points"><strong>2,500 e-statement</strong></span><span class="tran-date">June 8</span>
																								<div class="arrow"></div></li>
																						<li><i class="fa fa-plus-circle"></i><strong>0.00</strong> EUR annual fee, Credit card at 7,9%
																								<div class="letsee"></div></li>
																						<li><span class="dir"><i
																										class="fa fa-plus-circle"></i></span> <span class="points"><strong>500 debit card usage</strong></span><span class="tran-date">June 8</span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-minus-circle"></i></span> <span class="points"><strong>2,500 point redemption</strong></span><span class="tran-date">June 8</span>
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>

												<!-- Balances box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Popular</strong>in the community
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																					<li>Credit card or Overdraft?</li>
																					<li>Should I use cash or card abroad?</li>
																					<li>Credit card at 7.99%</li>
																					<li>How can I recognize transactions in PFM</li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Start a new discussion" />
																</div>
														</div>
												</div>
s
												<!-- Advertisement -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Personal loan</strong>at 6.38%
																</header>
																<div class="widget-content text-center advertisement">
																		<!--img src="img/add.png" alt="advertisement" class="img-responsive" /-->
																		<img src="img/ads/term_deposit.png" alt="advertisement" class="img-responsive" />
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Details" />
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>