<div id="future" data-gs-x="0" data-gs-y="7" data-gs-position="11" data-current_content="11" class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-knob_id=".dial_futcashflow" data-showmore-bottom="0" data-showmore-right="0" data-name="futurecashflow" data-gs-max-height="1" data-gs-width="1" data-gs-height="1" data-gs-min-height="1" data-gs-no-resize="true" data-gs-auto-position="false" template="FutureCashFlow">
	<div id="pfm_future_cashflow_module" class="grid-stack-item-content card_flip futurecashflow">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<!--			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
						</div>-->
			<!--			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
						</div>-->
			<!--			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
						<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
						</div>-->
		</div>
		<div class="widget widget-future-cash-flow">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">Loyalty points balance</div>
					<div class="col-md-7 nopadding posrelative">
               <span id="loyalty_points" class="loyalty_points">Silver</span>
					  <div id="loyaltyBal"></div></div>
					  <div class="col-md-5 nopadding">
					  	<div class="widget-summ loyalty-amount-sum">+3500</div>
							<div class="future-cash-text-bottom">Earn 6,500 point to reach silver!</div>
					  </div>					
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>