<div class="modal fade in" id="setting_modal_acc" tabindex="-1" role="dialog" aria-hidden="true"
	 component="AccountDetail">
	<div class="modal-dialog modal-lg">
		<div class="modal-content setting_model_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">My Credit Card</h4>
			</div>
			<div class="modal-body">
				<div class="main_body row">
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" id="account-basic-details">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">Basic details</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/nickname.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Nickname</div>
													<div class="detail-info">MY VISA DEBIT CARD</div>
												</div>
												<a class="detail-edit-button">
													<img class="svg" src="images/svg/edit.svg" alt="">
												</a>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/type.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Type</div>
													<div class="detail-info">VISA BLUE DEBIT</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/account_number.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Card  number</div>
													<div class="detail-info">xxxx xxxx xxxx 4981</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/iban.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Status</div>
													<div class="detail-info">Active</div>
												</div>
												<a href="#" class="copy-detail">Change PIN</a>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/account_number.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Linked account</div>
													<div class="detail-info">MY CURRENT ACCOUNT</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/account_number.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Card Holder</div>
													<div class="detail-info">John Smith</div>
												</div>
											</div>

										</div>
										<div class="widget-details-button">
											<a href="#" class="btn btn-default">Block card</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" id="account-balances">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-balances">
								<div class="widget-label">Balances</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/available_balance.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Available balance</div>
													<div class="detail-info">$824.00</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/book_balance.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Book balance</div>
													<div class="detail-info">$896.46</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Accrued interest</div>
													<div class="detail-info">$4.09</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Overdraft limit</div>
													<div class="detail-info">$0.00</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Purchase daily limit</div>
													<div class="detail-info">$1,000.00</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/accrued_interest.svg" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Withrawal daily limit</div>
													<div class="detail-info">$500.00</div>
												</div>
											</div>
											<div class="widget-details-button">
											<a href="#" class="btn btn-default">MODYFIY LIMITS</a>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" id="current-transactions">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-transactions">
								<div class="widget-label">Transactions</div>
								<div class="widget-body">
									<div class="last-transactions">
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Costa Coffee</div>
												<div class="transaction-date">7 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">-$25.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Costa Coffee</div>
												<div class="transaction-date">10 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">-$25.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Withdrawal</div>
												<div class="transaction-date">8 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">-$1149.00</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Marriott hotel</div>
												<div class="transaction-date">7 June</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">-$313.00</div>
											</div>
										</div>
									</div>
									<div class="widget-details-button">
										<button disabled>
											Details
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" id="account-statements">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-statements">
								<div class="widget-label-wrapper">
									<div class="widget-label">Statements</div>
									<a class="statement-sort-button">
										<img class="svg" src="images/svg/filter.svg" alt="">
									</a>
								</div>
								<div class="widget-body">
									<div class="last-statements">
										<div class="statement">
											<div class="statement-icon"><img class="svg" src="images/svg/statement.svg" alt=""></div>
											<div class="statement-right-part">2017-01</div>
										</div>
										<div class="statement">
											<div class="statement-icon"><img class="svg" src="images/svg/statement.svg" alt=""></div>
											<div class="statement-right-part">2016-12</div>
										</div>
										<div class="statement">
											<div class="statement-icon"><img class="svg" src="images/svg/statement.svg" alt=""></div>
											<div class="statement-right-part">2016-11</div>
										</div>
										<div class="statement">
											<div class="statement-icon"><img class="svg" src="images/svg/statement.svg" alt=""></div>
											<div class="statement-right-part">2016-10</div>
										</div>
										<div class="statement">
											<div class="statement-icon"><img class="svg" src="images/svg/statement.svg" alt=""></div>
											<div class="statement-right-part">2016-09</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-12 col-md-8 col-lg-8" id="advertisement">
						<div>
							<div class="widget widget-advertisement">
								<div class="widget-body">
									<img src="images/american-express-card.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>