<div id="netWorth" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="1" data-gs-y="12" data-gs-position="12" data-current_content="12" data-showmore-bottom="1" data-name="networth" data-gs-width="1" data-gs-min-height="1" data-gs-no-resize="true" data-gs-auto-position="false" template="NetWorth">
	<div id="pfm_net_worth_module" class="grid-stack-item-content current_stack_item card_flip networth">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<!--			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
						</div>-->
			<!--			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
						</div>-->
			<!--			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
						<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
						</div>-->
		</div>
		<div class="widget widget-net-worth">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">Net Worth Overview</div>
<!--					<div class="widget-net-worth-text">Total assets:</div>- ->
					<div class="widget-summ">€ 40.000</div>
									
<!--					<div class="net-worth-line">
						<div class="net-worth-left-part">
							<div>
								<div class="square square-red"></div>
							</div>
							<div class="net-worth-title"><span>Assets:</span></div>
						</div>
						<div class="net-worth-right-part">
							<div class="net-worth-summ"><span>€ 50.000</span></div>
						</div>
					</div>
					
					<div class="net-worth-line">
						<div class="net-worth-left-part">
							<div>
								<div class="square square-green"></div>
							</div>
							<div class="net-worth-title"><span>Liabilities:</span></div>
						</div>
						<div class="net-worth-right-part">
							<div class="net-worth-summ"><span>€ 10.000</span></div>
						</div>
						
					</div>-->
					<div id="networthPieChart"></div>
					<!--<div class="widget-progress-bar">
							<div class="bar-background"></div>
							<div id="liabilities" class="progress-hover">Liabilities: € 10.000</div>
							<div class="bar-progress"></div>
							<div id="assets" class="progress-hover">Assets: € 50.000</div>
						</div>-->
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>