<div class="modal fade in" id="setting_modal_pfm_networth" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
						<div class="modal-content setting_model_content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title">Net Worth</h4>
								</div>
								
								<div class="modal-body">
										<div class="main_body">
										
												<!-- Assets box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Assets</strong>
																</header>
																<div class="widget-content row">														
																	<div>
																			<div class="graph_holder">
																					<div class="main_content col-md-12 positioned">
																							<div id="tab1_a" class="pfm_graph">
																									<span class="pfm_number pfm_number_modal"><i class="fa fa-euro"></i>3,233</span>
																									<div id="circle_a_finance"></div>
																							</div>
																					</div>

																			</div>
																	</div>
																	
																</div>															
														</div>
												</div>

												<!-- categories box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Categories</strong>
																</header>
																<div class="widget-content row">
																	<table class="pfm_stat_categories">
																		<tr>
																			<td><li><span class="home"></span></li></td>
																			<td>Housing</td>
																			<td>EUR</td>
																			<td>1,698.46</td>
																		</tr>
																		<tr>
																			<td><li><span class="food_dining"></span></li></td>
																			<td>Food &amp; Dining</td>
																			<td>EUR</td>
																			<td>1,136.27</td>
																		</tr>
																		<tr>
																			<td><li><span class="withdrawal"></span></li></td>
																			<td>Withdrawal</td>
																			<td>EUR</td>
																			<td>725.00</td>
																		</tr>
																		<tr>
																			<td><li><span class="transport"></span></li></td>
																			<td>Auto &amp; Transport</td>
																			<td>EUR</td>
																			<td>495.76</td>
																		</tr>
																		<tr>
																			<td><li><span class="unrecognized"></span></li></td>
																			<td>Unrecognized exp</td>
																			<td>EUR</td>
																			<td>436.70</td>
																		</tr>
																		<tr>
																			<td><li><span class="shopping"></span></li></td>
																			<td>Self-care</td>
																			<td>EUR</td>
																			<td>316.07</td>
																		</tr>
																		<tr>
																			<td><li><span class="entertainment"></span></li></td>
																			<td>Entertainment</td>
																			<td>EUR</td>
																			<td>270.31</td>
																		</tr>
																		<tr>
																			<td><li><span class="education"></span></li></td>
																			<td>Education</td>
																			<td>EUR</td>
																			<td>89.99</td>
																		</tr>
																	</table>
																	<!-- 
																	<ul class="pfm_stat">
																		<li><span class="food_dining"></span>Current accounts - 13%</li>
																		<li><span class="entertainment"></span>Saving accounts - 22%</li>
																		<li><span class="transport"></span>Term deposits - 13%</li>
																		<li><span class="home"></span>Trading accounts - 3%</li>
																		<li><span class="shopping"></span>Retirement account - 45%</li>
																	</ul>
																	 -->
																</div>
														</div>
												</div>
												
												<!-- POPULAR IN COMMUNITY -->
												<div class="article inner-class">
													<div class="acc-details-new card_flip relative default-size-temp">
														<header class="drag-handle ui-draggable-handle">
																<strong>Popular</strong>in the community
														</header>
														<div class="widget-content popcommunity" tabindex="1">
																<ul class="transectoin_list">
																		<li><i class="toggle fa fa-ellipsis-h pull-right"></i>Credit card or Overdraft?</li>
																		<li><i class="toggle fa fa-ellipsis-h pull-right"></i>Should I use cash or card abroad?</li>
																		<li><i class="toggle fa fa-ellipsis-h pull-right"></i>Credit Card at 7.99%</li>
																		<li><i class="toggle fa fa-ellipsis-h pull-right"></i>How can I categorize transactions in PFM</li>
																</ul>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Start a new discussion" />
																</div>
														</div>
													</div>
												</div>
												
												<!-- Liabilities box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Liabilities</strong>
																</header>
																<div class="widget-content row">														
																	<div>
																			<div class="graph_holder">
																					<div class="main_content col-md-12 positioned">
																							<div id="tab1_l" class="pfm_graph">
																									<span class="pfm_number pfm_number_modal"><i class="fa fa-euro"></i>3,233</span>
																									<div id="circle_l_finance"></div>
																							</div>
																					</div>

																			</div>
																	</div>
																	
																</div>															
														</div>
												</div>

												<!-- categories box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Categories</strong>
																</header>
																<div class="widget-content row">
																	<ul class="pfm_stat">
																		<li><span class="food_dining"></span>Personal loans - 13%</li>
																		<li><span class="entertainment"></span>Car loan - 22%</li>
																		<li><span class="transport"></span>Credit cards - 13%</li>
																		<li><span class="home"></span>Overdraft - 3%</li>
																		<li><span class="shopping"></span>Mortgage - 45%</li>
																	</ul>
																</div>
														</div>
												</div>
												
												<!-- Advertisement -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Personal loan</strong>at 6.38%
																</header>
																<div class="widget-content text-center advertisement">
																		<!--img src="img/add.png" alt="advertisement" class="img-responsive" /-->
																		<img src="img/ads/term_deposit.png" alt="advertisement" class="img-responsive" />																		
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Details" />
																</div>
														</div>
												</div>
												

										</div>
								</div>
						</div>
				</div>
		</div>