<div id="myNotes" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="2" data-gs-y="10"
								data-showmore-bottom="0" data-showmore-right="0" data-name="noteswidget" data-gs-width="1" data-gs-height="2" data-gs-min-height="2"
								data-article-pos="11" data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="25" template="Notes">
								<div id="my_notes_module" class="grid-stack-item-content card_flip mynotes">
										<div class="front">
												<header class="drag-handle ui-draggable-handle">
														<strong>My</strong>Notes
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onclick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
										</div>
										<div class="widget-content notes" tabindex="1">
												<div class="alert-group warning-alert">
														<span class="alert-group-addon"><i class="fa fa-bell-o"></i></span>
														<div class="form-control">Check where did extra money go last month</div>
												</div>
												<ul class="transectoin_list">
														<!--li>
														Check where did extra money go last month
										              <a href="javascript:void(0);" class="trans_close" data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a>
										              <a href="javascript:void(0);" class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a>
										            </li-->
														<li>Check mortgage details <a href="javascript:void(0);" class="trans_close" data-toggle="tooltip" data-placement="bottom"
																		title="Close">&times;</a> <a href="javascript:void(0);" class="fa fa-pencil trans_edit" data-toggle="tooltip"
																		data-placement="bottom" title="Edit">&nbsp;</a>
														</li>
														<li>Plan Seychelles trip <a href="javascript:void(0);" class="trans_close" data-toggle="tooltip" data-placement="bottom"
																		title="Close">&times;</a> <a href="javascript:void(0);" class="fa fa-pencil trans_edit" data-toggle="tooltip"
																		data-placement="bottom" title="Edit">&nbsp;</a>
														</li>
												</ul>
												<div class="bottom-center-abs">
														<input class="btn btn-transparent" type="button" value="Add note" />
												</div>
										</div>
								</div>
						</div>