<div id="alertArt" data-gs-x="0" data-gs-y="2" data-gs-position="6" data-current_content="6" class="article grid-stack-item" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="2" data-gs-width="1" data-gs-min-height="2" data-gs-min-width="1" data-name="notifications" data-gs-no-resize="true" data-gs-auto-position="false" template="Notifocations">
	<div class="grid-stack-item-content card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
<!--			<div class="widget-more-right">
				<span class="show_more_right">
					<i class="fa fa-angle-right"></i>
				</span>
			</div>-->
<!--			<div class="widget-less-right">
				<span class="show_less_right">
					<i class="fa fa-angle-left"></i>
				</span>
			</div>-->
<!--			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
			<div class="widget-less-bottom">
				<span class="show_less_bottom">
					<i class="fa fa-angle-up"></i>
				</span>
			</div>-->
		</div>
		<div class="widget widget-notifications">
		<div class="widget-label drag-handle">notifications</div>
			<div class="widget-body">
				<div class="widget-main-info">
					
					<div class="notifications-block">
						
						<div class="alert-group">
							<div class="form-control">	
								<div class="pull-left">
									<span class="cicle-slide cicle-orange">
									<i class="fa fa-bell fa-2x fa-orange" aria-hidden="true"></i>
									</span>
								</div>
								<div class="notification-body">
									<span>10:45am</span>
									<span>1-for-1 at Starbucks!</span>
								</div>
							</div>						
						</div>
						
						<div class="alert-group">
							<div class="form-control">	
								<div class="pull-left">
									<span class="cicle-slide cicle-red">
									<i class="fa fa-bell fa-2x fa-red" aria-hidden="true"></i>
									</span>
								</div>
								<div class="notification-body">
									<span>10:00am</span>
									<span>Your bill payment is due</span>
								</div>
							</div>						
						</div>
				
						<div class="alert-group">
							<div class="form-control">	
								<div class="pull-left">
									<span class="cicle-slide cicle-orange">
									<i class="fa fa-bell fa-2x fa-orange" aria-hidden="true"></i>
									</span>
								</div>
								<div class="notification-body">
									<span>9:45am</span>
									<span>MSFT (Nasdaq)</span>
								</div>
							</div>						
						</div>
						
						<div class="alert-group">
							<div class="form-control">	
								<div class="pull-left">
									<span class="cicle-slide cicle-green">
									<i class="fa fa-bell fa-2x fa-green" aria-hidden="true"></i>
									</span>
								</div>
								<div class="notification-body">
									<span>8:45am</span>
									<span>Your account balance is below limit</span>
								</div>
							</div>						
						</div>
						
					</div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
					</div>
				</div>
			</div>
		</div>
<!--		<div class="back">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter Value" />
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>Chose Option</option>
					</select>
				</div>
				<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
				<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
			</form>
		</div>-->
	</div>
<!--</div>-->