<div class="modal fade in" id="setting_modal_stand" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content setting_model_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Standing Orders</h4>
            </div>
            <div class="modal-body tran-details">
                <div class="main_body row">
                    <div class="into-expanded-item col-xs-12 text-right">                 
                            <a href="#" class="standing-btn">Compose</a>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block1" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
                         data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
                         data-notes="Transfer to E.ON">
                         <a href="#" class="previous round" id="previous">&#8249;</a>
                        <div class="into-expanded-item-wrapper">
                            
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block2" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joanne Ford">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block3" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to T-Mobile">
                         <a href="#" class="next round-1">&#8250;</a>
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--second-part-1-->
                    <div class="container" style="position: relative;">
                    <div class="block1"></div>
                        <div class="row second-part1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>
                    <!--second-part-2-->
                    <div class="container" style="position: relative;">
                    <div class="block2"></div>
                        <div class="row second-part2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>
                    <!--second-part-3-->
                    <div class="container" style="position: relative;">
                    <div class="block3"></div>
                        <div class="row second-part3">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block5" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-block6" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit notifcation-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">CREDIT CARD APPLICATION <a href="javascript:void(0);"><img src="images/u44.png" /></a></div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u46.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="notify-summry">The terms and conditions on your credit card application has been updated...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--second-part-4-->
                    <div class="container" style="position: relative; display: inline-table;">
                    <div class="block4"></div>
                        <div class="row second-part4">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>
                    <!--second-part-5-->
                    <div class="container" style="position: relative;">
                    <div class="block5"></div>
                        <div class="row second-part5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>
                    <!--second-part-6-->
                    <div class="container" style="position: relative;">
                    <div class="block6"></div>
                        <div class="row second-part6">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="col-md-4">
                                <p>Your transfer initiated on 07/30/2017 failed with the following details:</p>
                                    <ul>
                                        <li>To:John Lock, DE89 5881 1152 5634 3037 72</li>
                                        <li>Amount:EUR 95.00</li>
                                        <li>Reference:thanks for dinner</li>
                                        <li>Trancation ID:1123212</li>
                                    </ul>
                                <p>Reason of failure:Insufficient balance.</p>
                                <p>Go and see transaction status for more information.</p>               
                            </div>
                            <div class="col-md-4">
                                <div class="all-second-part">
                                    <div class="attachment">1 attachment</div>
                                    <div class="download-part">
                                        <i class="fa fa-file download-file"></i>
                                        <a href="#" download>
                                            <i class="fa fa-cloud-download download-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default button-1">Reply</button>
                                <button type="button" class="btn btn-default">MARK AS UNREAD</button>
                            </div>
                        </div>
                    </div>

                    <div class="into-expanded-item col-xs-12 text-center">
                       
					   <a href="#" class="standing-btn-load">Load More</a>
												
					</div>
                </div>
            </div>
            
        </div>
    </div>
</div>
