<div id="widget-notifications-compose-screen-modal" class="widget-bank-card-modal modal card-detail-screen">
	<div class=" modal-header card-detail-header">
    	<h4 class="pull-left">Write message</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	</div>
  	<div class="modal-body">
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="input-field">
                <label class="label-text" href="#">Category</label>
                <div class="dropdown notifications-dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Please Select
                  <span class="fa fa-angle-down pull-right"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Select</a></li>
                  </ul>
                </div>
            </div>
            <div class="input-field second-field">
                <label class="label-text" href="#">Subject</label>
                <input type="text" class="notifications-subject-input" placeholder="Set Subject">
            </div>
            <div class="input-field second-field">
                <label class="label-text" href="#">Message</label>
                <textarea class=""></textarea>
            </div>
        </div>
    </div>
  	<div class="modal-footer">
  	    <div class="btn-container">
	        <a href="#" class="confirm_bank_card btn">SIGN MODIFICATION</a>
    	</div>
	</div>
</div>