<div id="commonpay" data-gs-x="1" data-gs-y="5" data-gs-position="9" data-current_content="9" class="article grid-stack-item" data-showmore-bottom="0"
	 data-showmore-right="0" data-gs-height="2" data-gs-width="2" data-gs-min-height="2" data-gs-min-width="2" data-name="commonpayment" data-gs-no-resize="true" template="Payment">

	<div id="commpayment" class="grid-stack-item-content relative quickpayment">
		<div class="widget-tools payment-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-payment">
			<div class="widget-body bb-bookblock">
				<div class="bb-item" id="commonpayment_container_1">
					<div class="flex-wrapper">
						<div class="left-part">
							<div class="part-title">Choose payment type:</div>
							<div class="payment-choose-type">
								<div class="payment-type active" id="domestic-payment"><img class="svg" src="images/eu_payment.png">EU Payment</div>
								<div class="payment-type" id="international-payment"><img class="svg" src="images/international_payment.png">International Payment</div>
							</div>
						</div>
						<div class="right-part">
							<div class="payment-right-info">
								<div class="content-to-show active" id="content-to-show-domestic-payment">
									<div class="top">
										<div class="payment-type"><img class="svg" src="images/eu_payment.png"><br><br>EU Payment</div>
										<div class="text">
											Can be used for payments within the EU zone.<br><br>
											EU Payments usually take 1-3 working days to reach their destination.
										</div>
									</div>
									<div class="content">
										Last EU Payments:
									</div>
									<div class="transactions-list">
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">John Smith</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">$34.30</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Jim Henrey</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
												<div class="transaction-summ">$12.50</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Joanne Wilson</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
												<div class="transaction-summ">$47.50</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-to-show" id="content-to-show-international-payment">
									<div class="top">
										<div class="payment-type"><img class="svg" src="images/international_payment.png">International Payment</div>
										<div class="text">
											Can be used for payments outside the EU zone.<br><br>
										</div>
									</div>
									<div class="content">
										Last International payments:
									</div>
									<div class="transactions-list">
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">John Smith (Austria)</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
												<div class="transaction-summ">$34.30</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Jim Henrey (Sweden)</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
												<div class="transaction-summ">$12.50</div>
											</div>
										</div>
										<div class="transaction">
											<div class="transaction-left-part">
												<div class="transaction-label">Joanne Wilson (USA)</div>
											</div>
											<div class="transaction-right-part">
												<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
												<div class="transaction-summ">$47.50</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="payment-right-navigation">
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav btn btn-default" type="button" value="Next"
										   onclick="swipePaymentPartnerScreen(this)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="commonpayment_container_2">
					<div class="flex-wrapper">
						<div class="left-part">
							<div class="part-title">Select:</div>
							<div class="benefeciaries-list">
								<div class="benefeciaries-tab-headers">
									<div class="benefeciaries-tab-header active" id="saved-benefeciaries">Saved beneficiaries<span class="vertical-line"></span></div>
									<div class="benefeciaries-tab-header" id="saved-transactions">Saved transactions<span class="vertical-line"></span></div>
								</div>
								<div class="benefeciaries-tabs">
									<div class="benefeciaries-tab active" id="tab-to-show-saved-benefeciaries">
										<ul>
											<li class="benefeciary-list-item" id="add-benefeciary" onclick="clearThirdPartyPaymentSelectedUser('.payment-benefeciary-details', this)">
												<div class="benefeciary-icon"><i class="fa fa-plus"></i></div>
												<div class="benefeciary-name">Add benefeciary</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="Deutsche Telekom AG"
												data-beneficiary_account_name="default"
												data-beneficiary_account_number="DE89 3704 0044 0532 0130 00"
												data-beneficiary_address="Friedrich-Ebert-Allee 140"
												data-beneficiary_city="Bonn"
												data-beneficiary_bank_code="DE5311RVB"
												data-beneficiary_bank_name="Deutsche Bank"
												data-beneficiary_bank_address="89. Konig Strasse"
												data-beneficiary_bank_country="Germany"
												data-beneficiary_category="util" id="cp_payment_beneficiary_id_2"
												onclick="selectPaymentUser(this, 'thirdParty')" >
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">JS</span></span></div>
												<div class="benefeciary-name">Jack Smith</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="WWF Deutschland"
												data-beneficiary_account_name="default"
												data-beneficiary_account_number="DE89 3704 0044 0532 0130 00"
												data-beneficiary_address="Reinhardtstr. 18"
												data-beneficiary_city="Berlin"
												data-beneficiary_bank_code="DE4444RVB"
												data-beneficiary_bank_name="Deutsche Bank"
												data-beneficiary_bank_address="89. Konig Strasse"
												data-beneficiary_bank_country="Germany"
												data-beneficiary_category="chrty"
												id="cp_payment_beneficiary_id_3"
												onclick="selectPaymentUser(this, 'thirdParty')" >
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">JF</span></span></div>
												<div class="benefeciary-name">Joanne Ford</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="Deutsches Rotes Kreuz"
												data-beneficiary_account_name="default"
												data-beneficiary_account_number="DE89 3704 0044 0532 0130 00"
												data-beneficiary_address="Carstennstrasse 58"
												data-beneficiary_city="Berlin"
												data-beneficiary_zip="89547"
												data-beneficiary_bank_code="DE5311RVB"
												data-beneficiary_bank_name="Deutsche Bank"
												data-beneficiary_bank_address="89. Konig Strasse"
												data-beneficiary_bank_country="Germany"
												data-beneficiary_category="chrty"
												id="cp_payment_beneficiary_id_4"
												onclick="selectPaymentUser(this, 'thirdParty')" >
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">MD</span></span></div>
												<div class="benefeciary-name">Mike Dorian</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="Bruno Mars"
												data-beneficiary_account_name="bruno's default"
												data-beneficiary_account_number="HU42 1201 2008 1052 1142 0010 0000"
												data-beneficiary_address="17A D floor, JAS"
												data-beneficiary_city="Budapest"
												data-beneficiary_zip="1138"
												data-beneficiary_bank_code="CITIHUHX" data-beneficiary_bank_name="Citibank"
												data-beneficiary_bank_address="Budapest, Szabadság tér 7, 1054 "
												data-beneficiary_bank_country="Hungary"
												data-beneficiary_category="dom" id="cp_payment_beneficiary_id_6"
												onclick="selectPaymentUser(this, 'thirdParty')">
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">NS</span></span></div>
												<div class="benefeciary-name">Nick Smith</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="Dora Deak"
												data-beneficiary_account_name="Dora's private"
												data-beneficiary_account_number="HU42 1177 3016 1111 1018 0000 0000"
												data-beneficiary_address="17A D floor, Loa"
												data-beneficiary_city="Budapest"
												data-beneficiary_zip="1138"
												data-beneficiary_bank_code="EUDIHUHB" data-beneficiary_bank_name="AXA Bank"
												data-beneficiary_bank_address="Budapest, Váci út 135-139, 1138"
												data-beneficiary_bank_country="Hungary"
												data-beneficiary_category="dom" id="cp_payment_beneficiary_id_7"
												onclick="selectPaymentUser(this, 'thirdParty')">
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">MF</span></span></div>
												<div class="benefeciary-name">Mark Finn</div>
											</li>
											<li class="benefeciary-list-item" data-benificiary_name="Rawan Yoon"
												data-beneficiary_account_name="Rowan default"
												data-beneficiary_account_number="KW81 CBKU 0000 0000 0000 1234 5601 01"
												data-beneficiary_address="17A D floor, RSA"
												data-beneficiary_city="Brussels"
												data-beneficiary_zip="12345"
												data-beneficiary_bank_code="ABKKAEAA"
												data-beneficiary_bank_name="Al Ahli Bank"
												data-beneficiary_bank_address="Abu Dhabi"
												data-beneficiary_bank_country="United Arab Emirates"
												data-beneficiary_category="swift" onclick="selectPaymentUser(this, 'thirdParty')"
												id="cp_payment_beneficiary_id_8">
												<div class="benefeciary-icon"><span class="benefeciary-block"><span class="benefeciary-text">LW</span></span></div>
												<div class="benefeciary-name">Liz Weddel</div>
											</li>
										</ul>
									</div>
									<div class="benefeciaries-tab" id="tab-to-show-saved-transactions"></div>
								</div>
							</div>
						</div>
						<div class="right-part">
							<div class="payment-right-info">
								<div class="part-title">Edit beneficiary details:</div>
								<div class="payment_beneficiary">
									<div>
										<label>Beneficiary name</label>
										<input id="payBeneficiaryName" type="text" name="beneficiaryName" value=""
											   class="form_element beneficiary_name" tabindex="-1"
											   onclick="selectBeneficiaryInput(this)"/>
										<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
											class="fa fa-remove"
											onclick="deselectBeneficiaryInput(this, 0)"></i>
									</div>
									<div>
										<label>Beneficiary Account</label>
										<input id="payBeneficiaryAccNo" type="text" name="beneficiaryAccNo" value=""
											   class="form_element beneficiary_accno"
											   tabindex="-1" onclick="selectBeneficiaryInput(this)" onchange="checkcurrency(this.value)" />
										<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
											class="fa fa-remove"
											onclick="deselectBeneficiaryInput(this, 0)"></i>
									</div>
									<div id="paymentNotUtil" style="display:none">
										<div>
											<label>Address</label>
											<input id="payBeneficiaryAddress" type="text" name="beneficiaryAddress" value=""
												   class="form_element beneficiary_address"
												   tabindex="-1" onclick="selectBeneficiaryInput(this)"/>
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
										</div>
										<div>
											<label>Bank code</label>
											<input id="payBeneficiaryBankCode" type="text" name="beneficiaryBankCode"
												   value=""
												   class="form_element beneficiary_bankcode"
												   maxlength="11" tabindex="-1" onclick="selectBeneficiaryInput(this)"/>
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
											<i class="fa fa-search"></i>
										</div>
										<div id="payment_bank_info" class="bank_info">
											<div id="payBeneficiaryBankName">
												<span>Bank name</span>
											</div>
											<div id="payBeneficiaryBankAddress">
												<span>Address</span>
											</div>
											<div id="payBeneficiaryBankCountry">
												<span>Country</span>
											</div>
										</div>
									</div>
									<div id="spec_fields_eon" style="display: none;">
										<div>
											<label>Meter serial number:</label>
											<input id="eonMeterSerial" type="text" name="eonMeterSerial"
												   value="AHH 9856 2365"
												   class="form_element beneficiary_address"
												   tabindex="-1" onclick="selectBeneficiaryInput(this)"/>
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
										</div>
										<div>
											<label>Meter position:</label>
											<input id="eonMeterPosition" type="text" name="eonMeterPosition" value="515 kWh"
												   class="form_element beneficiary_address"
												   tabindex="-1" onclick="selectBeneficiaryInput(this)"/>
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
										</div>
									</div>

									<div id="spec_fields_t" style="display: none;">
										<div>
											<label>Phone number:</label>
											<input id="phoneNumber" type="text" name="phoneNumber" value="+356 9999 9247"
												   class="form_element beneficiary_address"
												   tabindex="-1" onclick="selectBeneficiaryInput(this)" onblur="checkmobile(this.value)" />
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
										</div>
										<div>
											<label>Loyalty Card number:</label>
											<input id="loyaltyCardNumber" type="text" name="loyaltyCardNumber"
												   value="8546213546874541" class="form_element beneficiary_address"
												   tabindex="-1" onclick="selectBeneficiaryInput(this)"/>
											<i class="fa fa-check" onclick="deselectBeneficiaryInput(this, 1)"></i> <i
												class="fa fa-remove"
												onclick="deselectBeneficiaryInput(this, 0)"></i>
										</div>
									</div>
								</div>
								<div class="payment-benefeciary-details">
									<input type="hidden" class="from-list"/>
									<div id="payment-benefeciary-fields-first">
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3">Beneficiary name</div>
											<div class="col-xs-9"><input type="text"  class="name" placeholder="Beneficiary name"/></div>
										</div>
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3">Beneficiary account</div>
											<div class="col-xs-9"><input type="text" class="account-number" placeholder="Beneficiary account" onchange="checkcurrency(this.value)" /></div>
										</div>
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3">BIC/SWIFT</div>
											<div class="col-xs-9"><input type="text" notrequired class="bic" placeholder="Enter beneficiary bank BIC/SWIFT code"/></div>
										</div>
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3">Benefeciary Address</div>
											<div class="col-xs-9"><input type="text" class="address" placeholder="Enter street and number"/></div>
										</div>
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3"></div>
											<div class="col-xs-9"><input type="text" class="town-zip" placeholder="Enter ZIP and town"/></div>
										</div>
										<div class="payment-benefeciary-detail row">
											<div class="col-xs-3"></div>
											<div class="col-xs-9">
												<select>
													<option value="BE">Belgium</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="payment-right-navigation">
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav-vlidation btn btn-transparent btn-default" type="button" value="Next"
										   onclick="
										   validationPaymentFirst('#commonpay', this, '#commonpayment_container_2 .payment-benefeciary-details', '#commonpayment_container_3');
										   fillPaymentBenefeciary('#commonpayment_container_2 .payment-benefeciary-details', '#commonpayment_container_3');										   
										   "/>
									<input class="btn btn-transparent btn-default" id="paymentBeneficiarySave" type="button" value="Save"
										   onclick="saveBeneficiary(this)"/>
									<input data-nav-dir="prev" class="nav btn btn-transparent btn-default" type="button" value="Back"
										   onclick="commonPaymentShowOriginal(this)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="commonpayment_container_3">
					<div class="flex-wrapper">
						<div class="left-part padding-top-100">
								<div class="payment-logo">
									<div class="benefeciary-icon-full"></div>
								</div>
								<div class="payment-info">
									<div class="name"></div>
									<div class="info account-number"></div>
									<div class="info address"></div>
								</div>
						</div>
						<div class="right-part">
							<div id="payment-benefeciary-fields-second">
								<div class="part-title">Enter payment details:</div>
								<div class="payment-benefeciary-details thirdPartyPayment-benefeciary-details">
									<div class="payment-benefeciary-detail row">
										<div class="col-xs-3">Amount</div>
										<div class="col-xs-6"><input type="text" placeholder="Amount" class="amount" onchange="checkcurrency(this.value)" /></div>
										<div class="col-xs-3">
											<select name="currency" class="currency">
												<option value="USD">USD</option>
												<option value="USD">EUR</option>
											</select>
										</div>
									</div>
								<div class="benefeciaries-list">	
									<div class="benefeciaries-tab-headers">
										<div class="benefeciaries-tab-header-1 active" id="saved-benefeciaries-1">
											<p>ONE TIME</p>
										</div>
									
										<div class="benefeciaries-tab-header-1" id="saved-transactions-1">
											<p>RECURRING</p>
										</div>
									</div>
									<div class="benefeciaries-tabs">
										<div class="benefeciaries-tab-1 active" id="tab-to-show-saved-benefeciaries-1">
											<div class="payment-benefeciary-detail own-acc-pay-details row">
												<div class="col-xs-3">Date</div>
												<div class="col-xs-9">
													<div class="datepicker">
														<input type="text" id='date-datepicker' class="datepicker-input" value="" onchange="checkdate(this.value)"/>
													</div>
												</div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details row">
												<div class="col-xs-3">Reference</div>
												<div class="col-xs-9"><input type="text" class="reference-input" notrequired="1" placeholder="" class="reference"></div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details row">
												<div class="col-xs-3">Save benefeciary</div>
												<div class="col-xs-3"><input type="checkbox" style="min-height: 0"></div>
												<div class="col-xs-6"><input type="text" class="save-benefeciary-input" notrequired="1" placeholder="PeterSmith" class="reference"></div>
											</div>
										</div>
										<div class="benefeciaries-tab-1" id="tab-to-show-saved-transactions-1">
											<div class="payment-benefeciary-detail own-acc-pay-details-l-r  Recuring-pad-l row">
												<div class="col-xs-4">Start date</div>
												<div class="col-xs-8">
													<div class="datepicker">
														<input type="text" id='date-datepicker-1' class="datepicker-input" value="" onchange="checkdate(this.value)" />
														</div>
												</div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details-l-r  Recuring-pad-l row">
												<div class="col-xs-4">Frequency</div>
												<div class="col-xs-8">
													<select class="select-frequency">
														<option selected>Weekly</option>
													</select>
												</div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details-l-r Recuring-pad-l row">
												<div class="col-xs-4">Validity</div>
												<div class="col-xs-8">
													<select class="select-validity">
														<option selected>Recall</option>
													</select>
												</div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details  row">
												<div class="col-xs-3">Reference</div>
												<div class="col-xs-9"><input type="text" notrequired="1" placeholder="" class="reference-input"></div>
											</div>
											<div class="payment-benefeciary-detail own-acc-pay-details row">
												<div class="col-xs-3">Save benefeciary</div>
												<div class="col-xs-3"><input type="checkbox" style="min-height: 0"></div>
												<div class="col-xs-6"><input type="text" class="save-benefeciary-input" notrequired="1" placeholder="PeterSmith" class="reference"></div>
											</div>
										</div>
									</div>
									</div>
								<div class="payment-right-navigation with-margin">
									<div class="widget-details-button">
										<input
											data-nav-dir="next"
											class="nav1 btn btn-transparent btn-default"
											type="button"
											value="Next"
											onclick="validationPayment('#commonpay', this, '#commonpayment_container_3 .payment-benefeciary-details', '#commonpayment_container_4', '#payment-benefeciary-fields-second');fillTransactionDetails('#commonpayment_container_4 .payment-transaction-details', '#commonpayment_container_3 .payment-benefeciary-details');fillPayment('#commonpayment_container_3 .right-part .benefeciaries-tab-1.active ', '#commonpayment_container_4 .left-part')"
											/>
										<input class="btn btn-transparent btn-default" type="button" value="Save"
											   onclick="saveBeneficiary(this)"/>
										<input data-nav-dir="prev" class="nav btn btn-transparent btn-default" type="button" value="Back"
											   onclick="commonPaymentShowOriginal(this)"/>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="commonpayment_container_4">				
					<div class="flex-wrapper">
						<div class="left-part flex-center-column">
							<div class="flex-center full-width">
								<div class="payment-logo">
									<div class="benefeciary-icon-full"> </div>
								</div>
								<div class="payment-info">
									<div class="name"></div>
									<div class="info account-number"></div>
									<div class="info address"></div>
								</div>
							</div>
							<div class="full-width payment-transaction-details">
								<div class="data-list row">
									<div class="right-grey col-xs-5">Amount</div>
									<div class="col-xs-7 transaction-amount"></div>
								</div>
								<div class="data-list row">
									<div class="right-grey col-xs-5">Date</div>
									<div class="col-xs-7 transaction-date"></div>
								</div>
								<div class="data-list recurring-prop-1 row">
									<div class="right-grey col-xs-5">Frequency</div>
									<div class="col-xs-7 transaction-frequency"></div>
								</div>
								<div class="data-list recurring-prop-1 row">
									<div class="right-grey col-xs-5">Validity</div>
									<div class="col-xs-7 transaction-validity"></div>
								</div>
								<div class="data-list row">
									<div class="right-grey col-xs-5">Reference</div>
									<div class="col-xs-7 transaction-reference"></div>
								</div>
								<div class="data-list row">
									<div class="right-grey col-xs-5">Save benefeciary</div>
									<div class="col-xs-7 transaction-save-benefeciary"></div>
								</div>

								<div class="data-list static-data row">
									<div class="right-grey col-xs-5">Fees:</div>
									<div class="col-xs-7">$0.02</div>
								</div>

								<div class="data-list row">
									<div class="right-grey col-xs-5">Transaction limit:</div>
									<div class="col-xs-7">$25,000</div>
								</div> 	
							</div>
						</div>						
						<div class="right-part">
							<div id="payment-benefeciary-fields-third">
								<div class="part-title">Use Mobile Token to generate one time password:</div>
								<div class="cube-code">
									<img src="images/u4.jpg">
								</div>
								<div class="payment-benefeciary-details">
									<div class="payment-benefeciary-detail row">
										<div class="col-xs-5">One time password</div>
										<div class="col-xs-7"><input type="password"></div>
									</div>
								</div>
							</div>
							<div class="payment-right-navigation with-margin">
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav1 btn btn-transparent btn-default" type="button" value="Submit"  onclick="validationPayment('#commonpay', this, '#commonpayment_container_4 .payment-benefeciary-details', '#commonpayment_container_5', '#payment-benefeciary-fields-third', true);fillTransactionDetails('#commonpayment_container_5 .payment-transaction-details', '#commonpayment_container_4 .payment-benefeciary-details');" />
									<input class="btn btn-transparent btn-default" id="paymentTransactionSave" type="button" value="Envelope"
										   onclick="saveBeneficiary(this)"/>
									<input data-nav-dir="prev" class="nav btn btn-transparent btn-default" type="button" value="Back"
										   onclick="returnToDef(this);commonPaymentShowOriginal(this)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="commonpayment_container_5">
					<div class="flex-wrapper">
						<div class="right-part spiner-block">
							<div class="spiner"><img src="./images/loading_spinner.gif"></div>
						</div>
						<div class="left-part password-block">
							<div class="final-info">
								<img class="svg" src="images/complete_payment.png">
								<div class="title dark">Your payment is under processing</div>
								<div class="info grey">We will notify you if it is processed</div>
								<div class="title grey separator">Transaction ID:</div>
								<div class="info grey">TR000345629867</div>
								<div class="widget-details-button">
									<input data-nav-dir="next" class="nav btn btn-transparent btn-default" type="button" value="Make another payment" onclick="clearTransactionDetails('#commonpayment_container_3 .payment-benefeciary-details')"/>
								</div>
							</div>
						</div>
						<div class="right-part flex-center">
							<img src="images/u24.jpg" style="width: 100%;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
