<div class="modal fade in" id="setting_modal_tran" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content setting_model_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Transaction Details</h4>
            </div>
            <div class="modal-body tran-details">
                <div class="main_body row">
					<div class="into-expanded-item col-xs-12 col-sm-12 col-md-12 col-lg-12" id="transactions-history-details">
						<div class="transaction-history-toolbar">
                        <div class="block left delimeter" style="width: 15%;">
                                    <div class="title" style="font-family: 'CircularStd-Book'; font-size: 18px; margin-left: 20px;">STATUS</div>
                                    <div class="content black" style="margin-left: 20px;">
                                        All <i class="fa fa-caret-down black"></i>
                                       <!--  <div class="hov">
                                        <div class="dropdown-menu-wrapper">
                                            <div class="dropdown-menu"  style="margin-top: 20px; left: -65px;">
                                                <div class="triangle"></div>
                                                <div style="margin-top: 50px; padding-top: 50px;"><div><p style="color: #999999; padding-left: 15px;">PARTNER NAME</p>
                                                <input type="text" name="partnername" class="empty"></div>
                                                <div align="center" style="margin-top: 50px; padding-top: 50px;">
                                                <button class="btn btn-apply" style="color: #999999; border:1px solid #999999;">Apply</button></div> 
                                                </div>
                                            </div>
                                        </div>
                                        </div> -->
                                    </div>
                                </div>
							<div class="into-expanded-item-wrapper">
								<div class="block left" style="width: 30%;">
                                    <div class="content right" style="float: left; margin-top: 5px; margin-left: 20px;"><a href="#">Reset</a></div>
                                <div>
                                    <!-- <div class="title">
                                        Export transactions
                                    </div>
                                    <div class="content">
                                        <div class="export"><img class="image" src="images/transfer-files.png">XLS</div>
                                        <div class="export"><img class="image" src="images/transfer-files.png">PDF</div>
                                    </div>
                                </div> -->
                                </div>
							</div>
						</div>
					</div>
                    </div>
                    <div class="row uique_col_hei_container">
                    <div class="carousel slide" id="myCarousel">
                            <div class="carousel-inner">
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-part1" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to E.ON">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">E.ON</div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u18.jpg">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">-$25.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="tags"><span class="tag">Status: </span>Waiting for signature</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-part2" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joanne Ford">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joanne Ford</div>
                                        <div class="date">2 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jf.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">-$125.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="tags"><span class="tag">Status: </span>Waiting for signature</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open-part3" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to T-Mobile">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">T-Mobile</div>
                                        <div class="date">19 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/t-mobile.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">-$75.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="tags"><span class="tag">Status: </span>Waiting for signature</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="container" style="position: relative;">
                        <div class="drop-1"></div>
                        <div class="part1">
                            <div><h1>Payer</h1><p>You</p><h1>Payer account</h1><p>My Current Account</p><h1>Beneficiary</h1>
                                <p>E.ON</p><h1>Beneficiary account</h1><p>DE89 3704 0044 0532 0130 00</p></div>
                            <div><h1>Amount</h1><p>-$25.00</p><h1>Transaction date</h1><p>7 June</p><h1>Value date</h1><p>7 June</p><h1>Description</h1>
                                <p>None</p></div>
                            <div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 50px;">COMPLETE</a></div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 20px;">DISCARD</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="position: relative;">
                        <div class="drop-2"></div>
                        <div class="part2">
                            <div><h1>Payer</h1><p>You</p><h1>Payer account</h1><p>My Current Account</p><h1>Beneficiary</h1>
                                <p>Joanne Ford</p><h1>Beneficiary account</h1><p>DE89 3704 0044 0532 0130 00</p></div>
                            <div><h1>Amount</h1><p>-$125.00</p><h1>Transaction date</h1><p>2 June</p><h1>Value date</h1><p>2 June</p><h1>Description</h1>
                                <p>None</p></div>
                            <div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 50px;">COMPLETE</a></div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 20px;">DISCARD</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="position: relative;">
                        <div class="drop-3"></div>
                        <div class="part3">
                            <div><h1>Payer</h1><p>You</p><h1>Payer account</h1><p>My Current Account</p><h1>Beneficiary</h1>
                                <p>T-MOBILE</p><h1>Beneficiary account</h1><p>DE89 3704 0044 0532 0130 00</p></div>
                            <div><h1>Amount</h1><p>-$75.00</p><h1>Transaction date</h1><p>19 June</p><h1>Value date</h1><p>19 June</p><h1>Description</h1>
                                <p>None</p></div>
                            <div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 50px;">COMPLETE</a></div>
                                <div><a href="#" class="btn btn-default" style="margin-top: 20px;">DISCARD</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joel Moore</div>
                                        <div class="date">8 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jm.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$65.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="tags"><span class="tag">Status: </span>Pending at Van Marcke</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                           <nav>
                                <ul class="control-box pager">
                                    <li><a data-slide="prev" href="#myCarousel" class=""><img src="images/arrow-left.png"></a></li>
                                    <li><a data-slide="next" href="#myCarousel" class=""><img src="images/arrow-right.png"></a></li>
                                </ul>
                            </nav>
                           <!-- /.control-box -->   
                                                  
                        </div><!-- /#myCarousel -->
                        </div>
            </div>
        </div>
    </div>
</div>
</div>