<div id="lastTen" data-gs-x="100" data-gs-y="100" data-gs-position="103" data-current_content="103" class="article grid-stack-item pending-transaction" data-show_only_either="true" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="2" data-gs-min-height="2" data-name="pendingtransactions"
	 data-gs-no-resize="true" data-gs-auto-position="false" template="PendingTransactions">
	<div class="grid-stack-item-content card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span>
			</div>
		</div>
		<div class="widget widget-transactions">
	  	<div class="widget-icon-pending"></div>
			<div class="widget-label drag-handle label-center">pending transactions</div>
			<div class="widget-body">
				<div class="last-transactions">
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">E.ON</div>
							<div class="transaction-date">7 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ negative_balance">-$25.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">Joanne Ford</div>
							<div class="transaction-date">7 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ positive_balance">+$25.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">T-Mobile</div>
							<div class="transaction-date">10 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
							<div class="transaction-summ negative_balance">-$1 245.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">Joel Moore</div>
							<div class="transaction-date">8 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
							<div class="transaction-summ negative_balance">-$65.00</div>
						</div>
					</div>
				</div>
				<div class="widget-details-button">
					<a href="#" class="btn btn-default">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>