<div id="PersonalLoan" data-gs-x="100" data-gs-y="100" data-gs-position="3" data-current_content="3" class="article grid-stack-item tom-advert-cont" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="1" data-gs-width="2" data-gs-min-height="1" data-gs-min-width="2" data-name="smalladvertisement" data-gs-no-resize="true" data-gs-auto-position="false" template="AdvertismentTom">
	<div class="grid-stack-item-content drag-handle card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-advertisement-single">
			<div class="widget-body">
				<div class="image-block">
					<div class="tom-advertisement-full"></div>

					<div class="col-md-9">
               <div class="advert-label">Personal Loan for You!</div>
               <div class="advert-cashback"><span>Cover for $ 3,500 pre-approved credit limit. Immediate approval.</span></div>
               <div class="advert-trip-detail">
                   <ul>
                      <li><strong>5.99% APR</strong> </li>
                      <li><strong>24 month loan term </strong> </li>
                      <li><strong>No prepayment penalties</strong></li>
                   </ul>
               </div>
               <div class="widget-details-button">
						     	<a href="#" class="btn btn-default">Details</a>
						   </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>