<div id="pfmw" class="article grid-stack-item" data-gs-x="1" data-gs-y="8" data-showmore-bottom="0" data-showmore-right="0" data-name="pfm"
	 data-gs-height="2" data-gs-min-height="2" data-gs-width="2" data-gs-min-width="2" data-gs-no-resize="true" data-gs-auto-position="false"
	 data-gs-position="20" template="PFM">
	<div class="grid-stack-item-content current_stack_item card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-pfm full-height">
			<div class="widget-body full-height">
				<div class="widget-main-info full-height">
					<div class="widget-label drag-handle">Spending Analysis</div>
					<div id="pfm full-height">
						<div class="">
							<div class="pfm-content  col-md-6 left-part-chart full-height">
								<div id="tab1" class="pfm_graph">
									<span id="pfm_number" class="pfm_number">$3 233</span>
									<div id="circle_finance"></div>
								</div>
								<!--															<div id="tab2" class="pfm_graph">
																								<div id="graph_person_fin_2" class="box300"></div>
																							</div>
																							<div id="tab3" class="pfm_graph">
																								<div id="graph_person_fin_3" class="box300"></div>
																							</div>
																							<div id="tab4" class="pfm_graph">
																								<div id="graph_person_fin_4" class="box300"></div>
																							</div>
																							<div id="tab5" class="pfm_graph">tab5</div>
																							<div id="tab6" class="pfm_graph">tab6</div>-->

							</div>
							<div class="col-md-6 right-part-chart">
								<!--															<ul class="pfm_tabs">
																								<li><a class="pfm_chart1" onClick="createChartPersonalFin1()" href="#tab1">&nbsp;</a></li>
																								<li><a class="pfm_chart2" onClick="createChartPersonalFin2()" href="#tab2">&nbsp;</a></li>
																								<li><a class="pfm_chart3" onClick="createChartPersonalFin3()" href="#tab3">&nbsp;</a></li>
																								<li><a class="pfm_chart4" onClick="createChartPersonalFin4()" href="#tab4">&nbsp;</a></li>
																								<li><a class="pfm_chart5" href="#tab5">&nbsp;</a></li>
																								<li><a class="pfm_chart6" href="#tab6">&nbsp;</a></li>
																							</ul>-->
								<div class="chart-line">
									<div class="chart-label"><span class="unrecognized"><img src="./images/shop.jpg"></span></div>
									<div class="chart-title">Shopping</div>
									<div class="chart-price">$1 454.85</div>
									<div class="chart-graph" id="chart-shopping"></div>
									<div class="chart-persont">43%</div>
								</div>
								<div class="chart-line">
									<div class="chart-label"><span class="unrecognized"><img src="./images/entertainment.jpg"></span></div>
									<div class="chart-title">Entertainment</div>
									<div class="chart-price">$711.26</div>
									<div class="chart-graph" id="chart-entertainment"></div>
									<div class="chart-persont">22123%</div>
								</div>
								<div class="chart-line">
									<div class="chart-label"><span class="unrecognized"><img src="./images/food.jpg"></span></div>
									<div class="chart-title">Foods & Dining</div>
									<div class="chart-price">$484.95</div>
									<div class="chart-graph" id="chart-food"></div>
									<div class="chart-persont">15%</div>
								</div>
								<div class="chart-line">
									<div class="chart-label"><span class="unrecognized"><img src="./images/transport.jpg"></span></div>
									<div class="chart-title">Transport</div>
									<div class="chart-price">$420.29</div>
									<div class="chart-graph" id="chart-transport"></div>
									<div class="chart-persont">13%</div>
								</div>
								<div class="chart-line">
									<div class="chart-label"><span class="unrecognized"><img src="./images/pfc-home.jpg"></span></div>
									<div class="chart-title">Home</div>
									<div class="chart-price">$97.00</div>
									<div class="chart-graph" id="chart-home"></div>
									<div class="chart-persont">3%</div>
								</div>
								
								
<!--								<table class="pfm_stat_categories right">
									<tr>
										<td><span class="unrecognized"><img src="/images/shop.jpg"></span></td>
										<td>Shopping</td>
										<td>$1 454.85</td>
										<td><div id="chart-shopping"></div></td>
										<td>43%</td>
									</tr>
									<tr>
										<td><span class="food_dining"><img src="/images/entertainment.jpg"></span></td>
										<td>Entertainment</td>
										<td>$711.26</td>
										<td><div id="chart-entertainment"></div></td>
										<td>22%</td>
									</tr>
									<tr>
										<td><span class="withdrawal"><img src="/images/food.jpg"></span></td>
										<td>Foods & Dining</td>
										<td>$484.95</td>
										<td><div id="chart-food"></div></td>
										<td>15%</td>
									</tr>
									<tr>
										<td><span class="transport"><img src="/images/transport.jpg"></span></td>
										<td>Transport</td>
										<td>$420.29</td>
										<td><div id="chart-transport"></div></td>
										<td>13%</td>
									</tr>
									<tr>
										<td><span class="home"><img src="/images/pfc-home.jpg"></span></td>
										<td>Home</td>
										<td>$97.00</td>
										<td><div id="chart-home"></div></td>
										<td>3%</td>
									</tr>
								</table>-->
								<!-- 
										<ul class="pfm_stat">
													<li><span class="food_dining"></span>Food &amp; Dining - 13%</li>
													<li><span class="entertainment"></span>Entertainment - 22%</li>
													<li><span class="transport"></span>Transport - 13%</li>
													<li><span class="home"></span>Home - 3%</li>
													<li><span class="shopping"></span>Shopping - 45%</li>
											</ul>
								-->
							</div>
						</div>
					</div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>

			</div>
		</div>
		<div class="back">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter Value" />
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>Chose Option</option>
					</select>
				</div>
				<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
				<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
			</form>
		</div>
	</div>
</div>