<div id="popular" data-gs-x="2" data-gs-y="12" data-gs-position="103" data-current_content="103" class="article grid-stack-item" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="2" data-gs-auto-position="false" data-gs-min-height="2" data-gs-width="1" data-name="popincomm" data-gs-no-resize="true" template="Popular">
	<div class="grid-stack-item-content card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<!--			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
						</div>-->
			<!--			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
						</div>-->
			<!--			<div class="widget-more-bottom"><span class="show_more_bottom"><i class="fa fa-angle-down"></i></span></div>
						<div class="widget-less-bottom">
							<span class="show_less_bottom">
								<i class="fa fa-angle-up"></i>
							</span>
						</div>-->
		</div>
		<div class="widget widget-popular">
			<div class="widget-label drag-handle">Popular in the community</div>
			<div class="widget-body">
				<div class="popular-block">
					<div class="bopular-line">
						<div class="bopular-label">Credit card or Overdraft?</div>
					</div>
					<div class="bopular-line">
						<div class="bopular-label">Should I use cash or card abroad?</div>
					</div>
					<div class="bopular-line">
						<div class="bopular-label">Credit Card at 3.99%</div>
					</div>
					
					<div class="bopular-line">
						<div class="bopular-label">How can I categorize transactions?</div>
					</div>

				</div>
				<div class="widget-details-button">
					<a href="#" class="btn btn-default">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>