<div class="modal fade in" id="setting_modal_acc" tabindex="-1" role="dialog" aria-hidden="true"
	 component="AccountDetail">
	<div class="modal-dialog modal-lg">
		<div class="modal-content setting_model_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Account Details</h4>
			</div>
			<div class="modal-body">
				<div class="main_body row">
					<div class="into-expanded-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="transaction-history-toolbar">
							<div class="into-expanded-item-wrapper">
								<div class="block left delimeter">
									<div class="title">Print:</div>
									<div class="content">
										<div><img class="image" src="images/print.png"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-4 col-md-5 col-lg-4" >
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">Report details</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img src="images/schedule.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Report date</div>
													<div class="detail-info">31-03-2017</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img src="images/international.png"></div>
												<div class="detail-right-part">
													<div class="detail-label">Interest received</div>
													<div class="detail-info">EUR 95.00</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img src="images/share.png" alt=""></div>
												<div class="detail-right-part">
													<div class="detail-label">Interest paid</div>
													<div class="detail-info">EUR 43.00</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-8 col-md-7 col-lg-8" >
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-report">
								<div class="widget-label">Balances</div>
								<div class="widget-body">
									<div id="full-quarterly-report" class=""></div>
								</div>
							</div>
						</div>
					</div>

					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">Bank Accounts</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/current_account.svg" alt=""></div>
												<div class="detail-left-align">
													<div class="detail-info">MY CURRENT<br>ACCOUNT</div>
												</div>
												<div class="detail-right-align">
													<div class="detail-info">EUR 1215.00</div>
													<div class="detail-label">Interest rate: 2.0%</div>
												</div>
											</div>
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/savings_account.svg" alt=""></div>
												<div class="detail-left-align">
													<div class="detail-info">MY SAVINGS<br>ACCOUNT</div>
												</div>
												<div class="detail-right-align">
														<div class="detail-info">EUR 32215.00</div>
													<div class="detail-label">Interest rate: 2.4%</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">Deposit Accounts</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/term_deposit.svg" alt=""></div>
												<div class="detail-left-align">
													<div class="detail-info">MY TERM<br>DEPOSIT</div>
												</div>
												<div class="detail-right-align">
													<div class="detail-info">EUR 5215.00</div>
													<div class="detail-label">Interest rate: 3.0%</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="into-expanded-item-wrapper">
							<div class="widget widget-account-basic-details">
								<div class="widget-label">Credit cards account</div>
								<div class="widget-body">
									<div class="widget-main-info">
										<div class="details">
											<div class="detail-container">
												<div class="detail-icon"><img class="svg" src="images/svg/credit_card_account.svg" alt=""></div>
												<div class="detail-left-align">
													<div class="detail-info">MY CREDIT CART<br>ACCOUNT</div>
												</div>
												<div class="detail-right-align">
													<div class="detail-info">EUR 315.00</div>
													<div class="detail-label">Interest rate: 5.0%</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>