<div id="sphab" data-gs-x="0" data-gs-y="36" data-gs-position="103" data-current_content="103" class="article grid-stack-item" data-showmore-bottom="0"
 data-showmore-right="0" data-name="quarterlyreport" data-gs-height="1" data-gs-min-height="1" data-gs-width="1" data-gs-no-resize="true" data-gs-auto-position="false" data-knob_id=".quarterlyReport" template="QuarterlyReport">
	<div class="grid-stack-item-content">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
			<div class="widget-more-right">
							<span class="show_more_right">
								<i class="fa fa-angle-right"></i>
							</span>
			</div>
			<div class="widget-less-right">
							<span class="show_less_right">
								<i class="fa fa-angle-left"></i>
							</span>
			</div>
		</div>
		<div class="widget widget-quarterly-report">
			<div class="widget-label drag-handle">Quarterly Report</div>
			<div class="widget-body">
				<div class="widget-main-info">
					<div id="quarterly-report" class="highcharts-container"></div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
				<div class="details more_content_right"></div>
			</div>
		</div>
	</div>
</div>