<div id="savePlus" class="article grid-stack-item ui-draggable " data-gs-x="0" data-gs-y="12" data-showmore-bottom="0"
								data-showmore-right="0" data-name="grid_saveplus" data-gs-width="2" data-gs-min-width="2" data-gs-height="2" data-gs-min-height="2"
								data-article-pos="22" data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="27" template="Sales">
								<div id="sales_module_offer" class="grid-stack-item-content card_flip sales">
										<div class="front">
												<header class="drag-handle ui-draggable-handle">
														<strong>Saving plus account</strong>Apply now!
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onclick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
										</div>
										<div id="advertisement_widget_2" class="widget-content" tabindex="1">
												<!--img src="img/advertisement.png" alt="ad" /-->
												<!--img src="img/ads/ECOPlus_Title-2015.jpg" alt="ad" /-->
										</div>
										<!--div class="bottom-center-abs">
												<input class="btn btn-transparent" type="button" value="Details" />
										</div-->
								</div>
						</div>