<div  class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true"
	 component="SavingGoalDetail">
	<div class="modal-dialog modal-lg">
		<div class="modal-content setting_model_content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="main_body row">
					<div class="row uique_col_hei_container" id="savingGoalDetail">
						
						<div class="uniqu_col_item into-expanded-item col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<div class="into-expanded-item-wrapper">
								<div class="widget widget-account-basic-details">
									<div class="widget-label">BIRTHDAY GIFT FOR MOM</div>
									<div class="widget-body">
										<div class="widget-main-info">
											<div class="goal-status text-center">
												<img src="images/checked.png">
												<span class="font-yellow">
													You have on track with your goal!
												</span>
											</div>
											<div class="">
											    <div class="widget-progress-bar">
											        <div class="bar-background"></div>
											        <div class="bar-progress custom-progress"></div>
											    </div>
											    <div class="saving-goal-progressdata-jane">
											        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
											        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
											    </div>
											    <div class="saving-goal-progressdata-jane">
											        <div class="goal-image">
											        	<img src="images/smithgoal3.jpg">
											        </div>
											    </div>
											    <div class="clearfix"></div>
											    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="uniqu_col_item into-expanded-item col-xs-12 col-sm-12 col-md-8 col-lg-8">
							<div class="into-expanded-item-wrapper">
								<div class="bb_block_header hidden">
									<header class="drag-handle payment-widget-label">
										CREATE GOAL
									    <div class="steps">
									        <div class="steps-title">Step <span class="delta-number">1</span>/<span>5</span></div>
									        <ul>
									            <li class="active"></li>
									            <li></li>
									            <li></li>
									            <li></li>
									            <li></li>
									        </ul>
									    </div>
									</header>
								</div>
								<div class="widget full-height">
									<div class="bb-bookblock full-height">
										<div class="bb-item">
											<div class="flex-wrapper">
												<div class="goal_steps_body full-height">
													<div class="left-part full-height">
														<p class="text-center">Select goal type:</p>
														<div class="goal-types">

															<ul>
																<li><a><img src="images/pfc-grey-cup.png"></a></li>
																<li><a><img src="images/pfc-grey-gift.png"></a></li>
																<li><a><img src="images/pfc-grey-game.png"></a></li>
																<li><a><img src="images/pfc-grey-air.png"></a></li>
																<li><a><img src="images/pfc-grey-universe.png"></a></li>
																<li><a><img src="images/pfc-grey-car.png"></a></li>
																<li><a><img src="images/pfc-grey-home.png"></a></li>
																<li><a><img src="images/pfc-yellow-plus.png"></a></li>
															</ul>
														</div>
													</div>
													<div class="right-part">
														<div class="form-body">
															<div class="form-group form-md-line-input"> 
																<input type="text" class="form-control" id="form_control_1" placeholder="Enter Goal Name">                                                    
																<label for="form_control_1">Goal name</label>
																<span class="help-block">Some help goes here...</span>
															</div>
															<div class="goal_amount">
																<div class="form-group form-md-line-input"> 
																	<input type="text" class="form-control" id="form_control_1" placeholder="Enter Amount">                                                    
																	<label for="form_control_1">Target Amount</label>
																	<span class="help-block">Some help goes here...</span>
																</div>
																<div class="form-group amount-uint"> 
																	<select>
																		<option>EUR</option>
																		<option>EUR</option>
																		<option>EUR</option>
																	</select>
																</div>
																<div class="actions pull-right">
																	<input data-nav-dir="next" class="nav btn btn-default" type="button" value="Next"
																	/>
																</div>
															</div>
														</div>

														
													</div>
													<div class="clearfix"></div>
													
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row uique_col_hei_container">
						<div class="carousel slide" id="myCarousel">
					        <div class="carousel-inner">
					            <div class="item active">
					                    <ul class="thumbnails">
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">BIRTHDAY GIFT FOR DAD</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/smithgoal2.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">MY NEW CAR</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/nexcar.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">MY NEW CAR</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/nexcar.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        
					                        
					                    </ul>
					              </div><!-- /Slide1 --> 
					            <div class="item ">
					                    <ul class="thumbnails">
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">BIRTHDAY GIFT FOR DAD</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/smithgoal2.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">MY NEW CAR</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/nexcar.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					    						<div class="uniqu_col_item into-expanded-item">
													<div class="into-expanded-item-wrapper">
														<div class="widget widget-account-basic-details">
															<div class="widget-label">MY NEW CAR</div>
															<div class="widget-body">
																<div class="widget-main-info">
																	<div class="goal-status text-center">
																		<img src="images/checked.png">
																		<span class="font-yellow">
																			You have on track with your goal!
																		</span>
																	</div>
																	<div class="">
																	    <div class="widget-progress-bar">
																	        <div class="bar-background"></div>
																	        <div class="bar-progress custom-progress"></div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="pull-left font-black"> Current amount <span>EUR 1,450</span> </div>
																	        <div class="pull-right font-black"> Target amount <span>EUR 1,500</span> </div>
																	    </div>
																	    <div class="saving-goal-progressdata-jane">
																	        <div class="goal-image">
																	        	<img src="images/nexcar.jpg">
																	        </div>
																	    </div>
																	    <div class="clearfix"></div>
																	    <div class="text-center"> <a href="#" class="btn btn-custom">Details</a> </div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
					                        </li>
					                        
					                        
					                    </ul>
					              </div><!-- /Slide1 --> 

					        </div>
					        
					       
						   <nav>
								<ul class="control-box pager">
									<li><a data-slide="prev" href="#myCarousel" class=""><img src="images/arrow-left.png"></a></li>
									<li><a data-slide="next" href="#myCarousel" class=""><img src="images/arrow-right.png"></li>
								</ul>
							</nav>
						   <!-- /.control-box -->   
					                              
					    </div><!-- /#myCarousel -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
