<div class="modal fade in" id="setting_modal_acc_savings" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
						<div class="modal-content setting_model_content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
										</button>
										<h4 class="modal-title">Account Details</h4>
								</div>
								<div class="modal-body">
										<div class="main_body">

												<!-- Last 5 transactions box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Latest</strong>Transactions
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="amount"><strong>200</strong>EUR</span>from My Current Account <span
																								class="tran-date">June 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="amount"><strong>200</strong>EUR</span>from My Current Account <span
																								class="tran-date">May 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="amount"><strong>200</strong>EUR</span>from My Current Account <span
																								class="tran-date">Apr 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-plus-circle"></i></span><span class="amount"><strong>200</strong>EUR</span>from My Current Account <span
																								class="tran-date">Feb 10</span> <!--div class="details"><i class="fa fa-ellipsis-h"></i></div-->
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>

												<!-- Balances box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Balances</strong>
																</header>
																<div class="widget-content" tabindex="1">
																		<ul class="acc-details-list balance">
																				<li><span>Available</span>
																						<div class="p">1924 EUR</div></li>
																				<li><span>Booked</span>
																						<div class="p">0 EUR</div></li>
																				<li><span>Blockings</span>
																						<div class="p">0 EUR</div></li>
																				<li><span>Overdraft</span>
																						<div class="p">0 EUR</div>
																						<div class="pencil"></div></li>
																		</ul>
																</div>
														</div>
												</div>

												<!-- Advertisement -->
												<div class="article inner-class ad-main-box">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle" id="savings_details_ad1">
																		<!--strong>Teach</strong>your children to save-->
																		<strong>Izola Saver</strong>App
																</header>
																<div class="widget-content text-center advertisement">
																		<!--img src="img/add.png" alt="advertisement" class="img-responsive" /-->
																		<div class="ad-box">
																			<div class="advertisement-hover">
																				<span>Click for details</span>
																			</div>
																		</div>
																</div>
																<!--div class="bottom-center-abs">
																		<input class="btn btn-transparent" type="button" value="Details" />
																</div-->
														</div>
												</div>

												<!-- Basic Details box -->
												<div class="article inner-class">
														<div class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle ui-draggable-handle">
																		<strong>Basic</strong>details
																</header>
																<div class="widget-content" tabindex="1">
																		<ul class="acc-details-list balance">
																				<li><span class="accbalance">IBAN</span>
																						<div class="p">CH93 0076 2011 6238 5295 9</div></li>
																				<li><span>Nick name</span>
																						<div class="p">My Holiday Savings Account</div>
																						<div class="pencil"></div></li>
																				<li><span class="st-type">Statement type</span>
																						<div class="p">Paper based</div>
																						<div class="pencil"></div></li>
																				<li><span>Type</span>
																						<div class="p">Holiday Savings Account</div></li>
																				<li><span>Owner</span>
																						<div class="p">Jane Doe</div></li>
																				<li><span>Currency</span>
																						<div class="p">EUR</div></li>
																						
																		</ul>
																</div>
														</div>
												</div>

												<div class="article inner-class">
														<div id="savacc_details_statements" class="acc-details-new card_flip relative default-size-temp">
																<header class="drag-handle">
																		<strong>Statements</strong>
																</header>
																<div class="widget-content row">
																		<div class="col-md-12 main_content">
																				<ul class="acc-details-list hist">
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span><span class="amount"><strong>05 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>04 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span><span class="amount"><strong>03 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>02 2015</strong></span>
																								<div class="arrow"></div></li>
																						<li><span class="dir"><i class="fa fa-file-pdf-o"></i></span> <span class="amount"><strong>01 2015</strong></span>
																								<div class="arrow"></div></li>
																				</ul>
																		</div>
																</div>
																<div class="bottom-center-abs">
																		<input class="btn btn-transparent tranDetailsBtn" type="button" value="See more" />
																</div>
														</div>
												</div>

										</div>
								</div>
						</div>
				</div>
		</div>