<div class="modal fade in" id="setting_modal_tran" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content setting_model_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Transaction to be Signed Details</h4>
            </div>
            <div class="modal-body tran-details">
                <div class="main_body row">
                    <div class="into-expanded-item col-xs-12 col-sm-12 col-md-12 col-lg-12" id="transactions-history-details">
                        <div class="transaction-to-be-signed-toolbar">
                            <div class="into-expanded-item-wrapper">
                                <div class="block left delimeter">
                                    <div class="widget-button">
                                        <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve selected</button>
                                    </div>
                                    <div class="widget-button">
                                        <button><i class="fa fa-times" aria-hidden="true"></i> Decline selected</button>
                                    </div>
                                </div>
                                <div class="block left">
                                    <div class="title">
                                        Export transactions
                                    </div>
                                    <div class="content">
                                        <div class="export"><img class="image" src="images/transfer-files.png">CSV</div>
                                        <div class="export"><img class="image" src="images/transfer-files.png">PDF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to John Mayer">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-to-be-signed-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">John Mayer</div>
                                        <div class="checkbox"><input type="checkbox" name="checkbox"></div>
                                    </div>
                                    <div class="widget-middle">
                                        <div class="image">
                                            <img src="images/jm.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$25.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve</button>
                                                </div>
                                                <div class="widget-button">
                                                    <button><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                                                </div>
                                            </div>
                                            <div class="tags"><span class="tag">Requires signatures: </span>0 (2)</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Suzanna Smith">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-to-be-signed-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Suzanna Smith</div>
                                        <div class="checkbox"><input type="checkbox" name="checkbox"></div>
                                    </div>
                                    <div class="widget-middle">
                                        <div class="image">
                                            <img src="images/ss.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$25.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve</button>
                                                </div>
                                                <div class="widget-button">
                                                    <button><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                                                </div>
                                            </div>
                                            <div class="tags"><span class="tag">Requires signatures: </span>0 (2)</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Salary Payment">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-to-be-signed-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Salary payment</div>
                                        <div class="checkbox"><input type="checkbox" name="checkbox"></div>
                                    </div>
                                    <div class="widget-middle">
                                        <div class="image">
                                            <img src="images/sp.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$1 245.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve</button>
                                                </div>
                                                <div class="widget-button">
                                                    <button><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                                                </div>
                                            </div>
                                            <div class="tags"><span class="tag">Requires signatures: </span>0 (2)</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to T-Mobile">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-to-be-signed-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">T-Mobile</div>
                                        <div class="checkbox"><input type="checkbox" name="checkbox"></div>
                                    </div>
                                    <div class="widget-middle">
                                        <div class="image">
                                            <img src="images/t-mobile.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$65.00</div>
                                                <div class="transaction-type income"><i class="fa fa-caret-up"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve</button>
                                                </div>
                                                <div class="widget-button">
                                                    <button><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                                                </div>
                                            </div>
                                            <div class="tags"><span class="tag">Requires signatures: </span>0 (2)</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to E.ON">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-to-be-signed-unit">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">E.ON</div>
                                        <div class="checkbox"><input type="checkbox" name="checkbox"></div>
                                    </div>
                                    <div class="widget-middle">
                                        <div class="image">
                                            <img src="images/u18.jpg">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ">$824.00</div>
                                                <div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
                                            </div>
                                            <div class="buttons-block">
                                                <div class="widget-button">
                                                    <button><div class="accept"><i class="fa fa-check accept"></i></div> Approve</button>
                                                </div>
                                                <div class="widget-button">
                                                    <button><i class="fa fa-times" aria-hidden="true"></i> Decline</button>
                                                </div>
                                            </div>
                                            <div class="tags"><span class="tag">Requires signatures: </span>0 (2)</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>MY CURRENT ACCOUNT</div>
                                        <div class="balance"><span>Balance: </span>$244</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>