<div id="standing" class="article grid-stack-item has_left_widget" data-fix_right_height="false" data-show_only_either="true" data-gs-x="0" data-gs-y="8" data-showmore-bottom="0" data-showmore-right="0" data-current_content="1" data-gs-height="2" data-gs-auto-position="false"
	 data-gs-min-height="2" data-gs-width="1" data-name="standingorder" data-gs-no-resize="true" data-gs-position="30" template="StandingOrder">
	<div class="grid-stack-item-content current_stack_item card_flip">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span>
			</div>
		</div>
		<div class="widget widget-transactions">
			<div class="widget-label drag-handle">Standing Orders</div>
			<div class="widget-body">
				<div class="last-transactions">
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">E-On</div>
							<div class="transaction-date">7 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ positive_balance">+$25.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">Joanne Ford</div>
							<div class="transaction-date">7 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ positive_balance">+$25.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">T-Mobile</div>
							<div class="transaction-date">10 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ negative_balance">-$ 245.00</div>
						</div>
					</div>
					<div class="transaction">
						<div class="transaction-left-part">
							<div class="transaction-label">Joel Moore</div>
							<div class="transaction-date">8 June</div>
						</div>
						<div class="transaction-right-part">
							<div class="transaction-type outcome"><i class="fa fa-caret-down"></i></div>
							<div class="transaction-summ negative_balance">-$65.00</div>
						</div>
					</div>
				</div>
				<div class="widget-details-button">
					<a href="#" class="btn btn-default">Details</a>
				</div>
			</div>
		</div>
		<!------------>
		
		<!------------>
	</div>
</div>