<div class="modal fade in" id="setting_modal_stand" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content setting_model_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Standing Orders</h4>
            </div>
            <div class="modal-body tran-details">
                <div class="main_body row">	
		                <div class="into-expanded-item col-xs-12 text-right">
                       
													<a href="#" class="standing-btn">Create New</a>
												
								    </div>				
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open1" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to E.ON">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">E.ON</div>
                                        <div class="date">7 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/u18.jpg">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ negative_balance">-$25.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>None</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Monthly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>

                            </div>
                        </div>
               
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open2" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joanne Ford">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joanne Ford</div>
                                        <div class="date">2 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jf.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ negative_balance">-$125.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>Holiday</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Weekly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>
                            </div>
                        </div>
           
                    </div>
                    <div class="row">
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open3" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to T-Mobile">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">T-Mobile</div>
                                        <div class="date">19 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/t-mobile.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ positive_balance">-$75.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>None</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Monthly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>
                            </div>
                        </div>
                               </div>
                    </div>

                   <div class="container" style="padding-top: 30px; position: relative;">             
                    <div class="row part-1">
                    <div class="drop1"></div>
                        <div class=" col-lg-8 left-menu">
                        <div class="col-lg-4">
                            
                            <h1>Payer</h1>
                            <p>You</p>
                            <h1>Payer account</h1>
                            <p>My Current Account</p>
                            <h1>Beneficary</h1>
                            <p>E.ON</p>
                            <h1>Beneficary account</h1>
                            <p style="font-family: 'CircularStd-Book';">DE<span style="font-size: 15px;">89 3704 0044 0532 0130 00</span></p>
                            <h1>Start date</h1>
                            <p>2016 September 1</p>
                        </div>
                        <div class="col-lg-4">
                            <h1>Frequency</h1>
                            <p>Monthly</p>
                            <h1>Validity</h1>
                            <p>Until cancelled</p>
                            <h1>Rollovers</h1>
                            <p>12</p>
                            <h1 style="width: 170px;">Next transfer date</h1>
                            <p>12 September</p>
                            <h1 style="width: 192px;">Next transfer amount</h1>
                            <p>-$25.00</p>
                        </div>


                        </div>
                        <div class="col-lg-2 right-menu">
                            <a href="#" class="btn btn-default">MODIFY</a>
                            <a href="#" class="btn btn-default">DELETE</a>
                        </div>
              </div>
                    </div>

                    <div class="container">             
                    <div class="row part-2">
                    <div class="drop2"></div>
                        <div class=" col-lg-8 left-menu">
                        <div class="col-lg-4">
                            
                            <h1>Payer</h1>
                            <p>You</p>
                            <h1>Payer account</h1>
                            <p>My Current Account</p>
                            <h1>Beneficary</h1>
                            <p>JOANNE FORD</p>
                            <h1>Beneficary account</h1>
                            <p style="font-family: 'CircularStd-Book';">DE<span style="font-size: 15px;">89 3704 0044 0532 0130 00</span></p>
                            <h1>Start date</h1>
                            <p>2016 September 1</p>
                        </div>
                        <div class="col-lg-4">
                            <h1>Frequency</h1>
                            <p>Weekly</p>
                            <h1>Validity</h1>
                            <p>Until cancelled</p>
                            <h1>Rollovers</h1>
                            <p>12</p>
                            <h1 style="width: 170px;">Next transfer date</h1>
                            <p>12 September</p>
                            <h1 style="width: 192px;">Next transfer amount</h1>
                            <p>-$125.00</p>
                        </div>


                        </div>
                        <div class="col-lg-2 right-menu">
                            <a href="#" class="btn btn-default">MODIFY</a>
                            <a href="#" class="btn btn-default">DELETE</a>
                        </div>
              </div>
                    </div>
                    <div class="container">             
                    <div class="row part-3">
                    <div class="drop3"></div>
                        <div class=" col-lg-8 left-menu">
                        <div class="col-lg-4">
                            
                            <h1>Payer</h1>
                            <p>You</p>
                            <h1>Payer account</h1>
                            <p>My Current Account</p>
                            <h1>Beneficary</h1>
                            <p>T-MOBILE</p>
                            <h1>Beneficary account</h1>
                            <p style="font-family: 'CircularStd-Book';">DE<span style="font-size: 15px;">89 3704 0044 0532 0130 00</span></p>
                            <h1>Start date</h1>
                            <p>2016 September 1</p>
                        </div>
                        <div class="col-lg-4">
                            <h1>Frequency</h1>
                            <p>Monthly</p>
                            <h1>Validity</h1>
                            <p>Until cancelled</p>
                            <h1>Rollovers</h1>
                            <p>12</p>
                            <h1 style="width: 170px;">Next transfer date</h1>
                            <p>12 September</p>
                            <h1 style="width: 192px;">Next transfer amount</h1>
                            <p>-$75.00</p>
                        </div>


                        </div>
                        <div class="col-lg-2 right-menu">
                            <a href="#" class="btn btn-default">MODIFY</a>
                            <a href="#" class="btn btn-default">DELETE</a>
                        </div>
              </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open4" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joel Moore</div>
                                        <div class="date">8 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jm.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ positive_balance">$65.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>Shopping, Vacations 2017</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Weekly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open5" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joel Moore</div>
                                        <div class="date">8 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jm.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ positive_balance">$65.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>Shopping, Vacations 2017</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Weekly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 col-sm-6 col-md-4 col-lg-4 open6" data-date="10-01-2017" data-type="Outgoing EU" data-to="IBAN - DE44 5001 0517 5407 3249 31"
						 data-reference="Transfer to GPC/122, CARLO POLETTI srl IT81D030694524010 0000001908 - Ref: 100% Pmnt INV V17/00133, V17/00134 GPC/122"
						 data-notes="Transfer to Joel Moore">
                        <div class="into-expanded-item-wrapper">
                            <div class="widget widget-transactions-history-unit standing-ordr-detail">
                                <div class="widget-body">
                                    <div class="widget-upper">
                                        <div class="name">Joel Moore</div>
                                        <div class="date">8 June</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="image">
                                            <img src="images/jm.png">
                                        </div>
                                        <div class="info-block">
                                            <div class="price-block">
                                                <div class="widget-summ negative_balance">-$35.00</div>
                                                <!-- <div class="widget-accnt-num">100000101001110323</div>
                                                <div class="widget-bank-name">DEUTESBBXXX</div> -->
                                            </div>
                                            <div class="tags"><span class="tag">Tags: </span>Shopping, Vacations 2017</div>
                                        </div>
                                    </div>
                                    <div class="widget-footer">
                                        <div class="from"><span>From: </span>My current account</div>
                                        <div class="balance">Weekly</div>
                                    </div>
                                </div>
                                <div class="edit-standing-widget"><img src="images/svg/edit.svg" /></div>
                            </div>
                        </div>
                    </div>
                      <div class="container">             
                    <div class="row part-4">
                    <div class="drop1"></div>
                        <div class=" col-lg-6 left-menu">
                        <div>
                            
                            <h1>Payer</h1>
                            <p>You</p>
                            <h1>Payer account</h1>
                            <p>My Current Credit</p>
                            <p>GB8434 3087 5567 7193 23</p>
                            <h1>Beneficary</h1>
                            <p>Tessa Smith</p>
                            <p>London</p>
                            <h1>Beneficary account</h1>
                            <p>GB29 7440 3222 1613 4518 47</p>
                            <h1>Start date</h1>
                            <p>1 Jan 13</p>
                        </div>
                        <div>
                            <h1>Frequency</h1>
                            <p>month</p>
                            <h1>Validity</h1>
                            <p>rollover</p>
                            <h1>Rollovers</h1>
                            <p>11</p>
                            <h1>Next transfer date</h1>
                            <p>1 Sep</p>
                            <h1>Next transfer amount</h1>
                            <p>€-100.00</p>
                        </div>


                        </div>
                        <div class="col-lg-offset-1 col-lg-2 right-menu">
                            <a href="#" class="btn btn-default">MODIFY</a>
                            <a href="#" class="btn btn-default">DELETE</a>
                        </div>
              </div>
                    </div>
                      <div class="container"  style="padding-top: 30px;">             
                    <div class="row part-5">
                    <div class="drop2"></div>
                        <div class=" col-lg-8 left-menu">
                        <div class="col-lg-4">
                            
                            <h1>Payer</h1>
                            <p>You</p>
                            <h1>Payer account</h1>
                            <p>My Current Credit</p>
                            <p>GB8434 3087 5567 7193 23</p>
                            <h1>Beneficary</h1>
                            <p>Tessa Smith</p>
                            <p>London</p>
                            <h1>Beneficary account</h1>
                            <p>GB29 7440 3222 1613 4518 47</p>
                            <h1>Start date</h1>
                            <p>1 Jan 13</p>
                        </div>
                        <div class="col-lg-4">
                            <h1>Frequency</h1>
                            <p>month</p>
                            <h1>Validity</h1>
                            <p>rollover</p>
                            <h1>Rollovers</h1>
                            <p>11</p>
                            <h1 style="width: 170px;">Next transfer date</h1>
                            <p>1 Sep</p>
                            <h1 style="width: 192px;">Next transfer amount</h1>
                            <p>€-100.00</p>
                        </div>


                        </div>
                        <div class="col-lg-2 right-menu">
                            <a href="#" class="btn btn-default">MODIFY</a>
                            <a href="#" class="btn btn-default">DELETE</a>
                        </div>
              </div>
                    </div>
                    <div class="container">             
                        <div class="row part-6">
                        <div class="drop3"></div>
                            <div class=" col-lg-8 left-menu">
                                <div class="col-lg-4">
                                    
                                    <h1>Payer</h1>
                                    <p>You</p>
                                    <h1>Payer account</h1>
                                    <p>My Current Credit</p>
                                    <p>GB8434 3087 5567 7193 23</p>
                                    <h1>Beneficary</h1>
                                    <p>Tessa Smith</p>
                                    <p>London</p>
                                    <h1>Beneficary account</h1>
                                    <p>GB29 7440 3222 1613 4518 47</p>
                                    <h1>Start date</h1>
                                    <p>1 Jan 13</p>
                                </div>
                                <div class="col-lg-4">
                                    <h1>Frequency</h1>
                                    <p>month</p>
                                    <h1>Validity</h1>
                                    <p>rollover</p>
                                    <h1>Rollovers</h1>
                                    <p>11</p>
                                    <h1 style="width: 170px;">Next transfer date</h1>
                                    <p>1 Sep</p>
                                    <h1 style="width: 192px;">Next transfer amount</h1>
                                    <p>€-100.00</p>
                                </div>


                            </div>
                            <div class="col-lg-2 right-menu">
                                <a href="#" class="btn btn-default">MODIFY</a>
                                <a href="#" class="btn btn-default">DELETE</a>
                            </div>
                         </div>
                    </div>
                    <div class="into-expanded-item col-xs-12 text-center">
                       
													<a href="#" class="standing-btn-load">Load More</a>
												
                                    </div>
								    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
