<div id="switch" class="article grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="1"
	 data-gs-y="12" data-showmore-bottom="0" data-showmore-right="0" data-name="feesandcharges" data-gs-width="1" data-gs-height="1" data-gs-min-height="1"
	 data-article-pos="24" data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="24" template="Switch">
	<div class="grid-stack-item-content card_flip fees loyalty_module">
		<div class="widget-tools">
			<div class="widget-close"><span><a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a></span></div>
		</div>
		<div class="widget widget-switch">
			<div class="widget-body">
				<div class="widget-main-info">
					<div class="widget-label drag-handle">PREMIUM ONLINE BANKING</div>					
					<div class="switch-block">
						<div class="widget-summ">€ 4.99</div>
						<div class="per-month">
							<div>Per</div>
							<div>Month</div>
						</div>
						<div class="banking-features">
							<ul>
								<li>Free SMS notifications</li>
								<li>Double loyality points</li>
								<li>Access to premium services</li>
							</ul>
						</div>
					</div>
					<div class="widget-details-button">
						<a href="#" class="btn btn-default">Details</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>