<div id="widget-terminate-details-term-modal" class="widget-bank-card-modal modal card-detail-screen">
	<div class=" modal-header card-detail-header">
    	<h4 class="pull-left">TERMINATE TERM DEPOSIT</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	</div>
  	<div class="modal-body">
        <div class="modal-info">
            <div class="block-center text pull-left">
                <h5 class="my-term-deposit">MY TERM DEPOSIT</h5>
                <p class="deposit_amount">$1,295.00</p>
                <div class="detail-label">Pay back to: My Current Account</div>
                <a class="detail-edit-button">
                          <img class="svg" src="images/svg/edit.svg" alt="">
                </a>
	        </div>
  	    </div>
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="info-text">Use your Mobile Token to approve the transaction:</div> 
            <div class="cube-code">   
                <img src="images/u4.jpg">         
            </div>                        
            <div class="payment-benefeciary-details">
                <div class="payment-benefeciary-detail row">
                    <div class="col-xs-offset-2 col-xs-4 password">One time password:</div>
                    <div class="col-xs-4"><input type="password"></div>
                </div> 
            </div> 
        </div>
  	<div class="modal-footer">
  	    <div class="btn-container">
	        <a href="#" class="confirm_bank_card btn">SIGN MODIFICATION</a>
    	</div>
	</div>
</div>