<div id="upcome" class="article grid-stack-item" data-gs-x="3" data-gs-y="6" data-showmore-bottom="0" data-showmore-right="0" data-gs-height="2"
								data-gs-min-height="2" data-name="upcomingpymts" data-gs-no-resize="true" data-gs-auto-position="false" data-gs-position="18" template="Upcoming">
								<div class="grid-stack-item-content card_flip">
										<div class="front">
												<header class="drag-handle">
														<strong>Upcoming</strong>payments this month
														<a href="JavaScript:" onclick="removeWidget(this)" class="fa fa-remove"></a>
														<div class="dropdown widget_setting">
																<button onClick="showWidgetSettings(this)" class="btn btn-link" type="button" data-toggle="dropdown">
																		<i class="fa fa-gear"></i>
																</button>
														</div>
												</header>
												<div class="widget-content upcoming">
														<ul class="transectoin_list">
																<li><i class="fa fa-chevron-down"></i><strong>&sum;&nbsp;2,793.60 EUR by end of this month</strong></li>
																<li><i class="fa fa-minus-circle"></i><strong>34.30</strong>EUR Vodafone<a href="javascript:void(0);" class="trans_close"
																				data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a> <a href="javascript:void(0);"
																				class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a></li>
																<li><i class="fa fa-minus-circle"></i><strong>124.30</strong>EUR E-On<a href="javascript:void(0);" class="trans_close"
																				data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a> <a href="javascript:void(0);"
																				class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a></li>
																<li><i class="fa fa-minus-circle"></i><strong>2,300</strong>EUR rental fee to Landlord<a href="javascript:void(0);" class="trans_close"
																				data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a> <a href="javascript:void(0);"
																				class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a></li>
																<li><i class="fa fa-minus-circle"></i><strong>200.50</strong>EUR car loan repayment<a href="javascript:void(0);" class="trans_close"
																				data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a> <a href="javascript:void(0);"
																				class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a></li>
																<li><i class="fa fa-minus-circle"></i><strong>134.30</strong>EUR EuroGas invoice<a href="javascript:void(0);" class="trans_close"
																				data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a> <a href="javascript:void(0);"
																				class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a></li>
																<!--li><i class="fa fa-minus-circle"></i> <strong>212,30</strong> EUR Credit Card repayment 
              <a href="javascript:void(0);" class="trans_close" data-toggle="tooltip" data-placement="bottom" title="Close">&times;</a>
              <a href="javascript:void(0);" class="fa fa-pencil trans_edit" data-toggle="tooltip" data-placement="bottom" title="Edit">&nbsp;</a>
            </li-->
														</ul>
												</div>
										</div>
										<div class="back">
												<form>
														<div class="form-group">
																<input type="text" class="form-control" placeholder="Enter Value" />
														</div>
														<div class="form-group">
																<select class="form-control">
																		<option>Chose Option</option>
																</select>
														</div>
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Save" />
														<input class="btn btn-transparent" onclick="revertWidgetSetting(this)" type="button" value="Cancel" />
												</form>
										</div>
								</div>
						</div>